
{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Dashboard">
    <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">

   <title>MCQ Admin</title>
    <!-- Bootstrap core CSS -->
    <link href="{% static "assets/css/bootstrap.css" %}" rel="stylesheet">
    <!--external css-->
    <link href="{% static "assets/font-awesome/css/font-awesome.css" %}" rel="stylesheet" />
        
    <!-- Custom styles for this template -->
    <link href="{% static "assets/css/style.css" %}" rel="stylesheet">
    <link href="{% static "assets/css/style-responsive.css" %}" rel="stylesheet">


{% block css %}



{% endblock %}
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

  <section id="container" >
      <!-- **********************************************************************************************************************************************************
      TOP BAR CONTENT & NOTIFICATIONS
      *********************************************************************************************************************************************************** -->
      <!--header start-->
      <header class="header black-bg">
              <div class="sidebar-toggle-box">
                  <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
              </div>
            <!--logo start-->
            <a class="logo"><b>MCQ Platform</b></a>



    




        </header>
      <!--header end-->
      
      <!-- **********************************************************************************************************************************************************
      MAIN SIDEBAR MENU
      *********************************************************************************************************************************************************** -->
      <!--sidebar start-->


      <!--sidebar end-->
      
      <!-- **********************************************************************************************************************************************************
      MAIN CONTENT
      *********************************************************************************************************************************************************** -->


        
      <!--main content start-->
      <section >
          <section class="wrapper site-min-height">

     {% block wizard %}
        {% endblock %}

          {% block content %}
        {% endblock %}

            




 
         
      </section><! --/wrapper -->
      </section><!-- /MAIN CONTENT -->

      <!--main content end-->

<!--footer start-->
      <footer class="site-footer">
          <div class="text-center">
              2015 - MCQ PLATFORM
              <a href="#" class="go-top">
                  <i class="fa fa-angle-up"></i>
              </a>
          </div>
      </footer>
      <!--footer end-->
  


  </section>

    <!-- js placed at the end of the document so the pages load faster -->
    <script src="{% static "assets/js/jquery.js" %}"></script>
    <script src="{% static "assets/js/bootstrap.min.js" %}"></script>
    <script src="{% static "assets/js/jquery-ui-1.9.2.custom.min.js" %}"></script>
    <script src="{% static "assets/js/jquery.ui.touch-punch.min.js" %}"></script>
    <script class="include" type="text/javascript" src="{% static "assets/js/jquery.dcjqaccordion.2.7.js" %}"></script>
    <script src="{% static "assets/js/jquery.scrollTo.min.js" %}"></script>
    <script src="{% static "assets/js/jquery.nicescroll.js" %}" type="text/javascript"></script>



    <!--common script for all pages-->
    <script src="{% static "assets/js/common-scripts.js" %}"></script>

    <!--script for this page-->
    

  
  
    {% block js %}

    {% endblock %}


    
          {% block script %}

        {% endblock %}


  <script>
      //custom select box

      $(function(){
          $('select.styled').customSelect();
      });

  </script>


    <script type="text/javascript" src="{% static "assets/js/jquery.backstretch.min.js" %}"></script>


  </body>
</html>
