{% extends "embed/embed_base.html" %}
   

   {% load static %}



{% block css %}


 

{% endblock %}





       {% block content %}












<form  onsubmit="return check_if_all_done(event)" action="" method="post">

    {% if errors %}
                {% for error in errors %}
        <li>

             <p style="color: red;">
                Please correct the error: {{error}} below.
             </p>
            
        </li>
          {% endfor %}
    {% endif %}




{% csrf_token %}


                    <div class="col-md-12 mt">
                      <div class="content-panel">
                        
                            <h4><i class="fa fa-angle-right"></i>

                        Question :   {{ question.question_text }}</h4>
                       

                            <hr>

                  <div class="form-panel">                  

<div >
                {% for choice in question.choice_set.all %}

                                    {{choice.answer_code}}.

                                    {% if question.question_type == 1%}
                             <input type="checkbox" name="{{question.id}}" id="choice{{ forloop.counter }}" value="{{ choice.answer_code }}" />
                                {% else %}
                                 <input type="radio" name="{{question.id}}" id="{{ choice.answer_code }}" value="{{ choice.answer_code}}" />
{% endif %}

      <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br />

        


{% if asst.assessment_type == 1%}



{% endif %}




                                     <br>
                                     
                            {% endfor %}
  </div>                             

 




  </div>
                        </div><! --/content-panel -->
                    </div><!-- /col-md-12 -->



  



  <div class="col-md-12 mt">


                          
                                    
                                          <button class="btn btn-theme02"  type="submit" id="submit">Submit</button>
                                         
                                     
                                
                                </div>
</form>







        {% endblock %}




    {% block js %}


<script type="text/javascript">
function check_if_all_done(e) {



  if ($('input[name={{question.id}}]:checked').length === 0) {
      e.preventDefault();

      alert("You haven't completed the question!");
      return false;
  }



}
</script>





    {% endblock %}
