

{% extends "mcq/base.html" %}
   



 {% block sidebar %}

 
                    
                  <li class="mt">
                      <a id="nav_homepage" class="active" href="{% url 'mcq:mcqadmin'  %}">
                          <i class="fa fa-dashboard"></i>
                          <span>Dashboard</span>
                      </a>
                  </li>


                  <li class="sub-menu">
                      <a href="javascript:;" >
                          <i class="fa fa-desktop"></i>
                          <span>Management</span>
                      </a>
                      <ul class="sub">

                          <li><a  href="{% url 'mcq:subjectlist'  %}">Subject List</a></li>
                          <li><a  href="{% url 'mcq:mcqcollection'  %}">MCQ Collection</a></li>
                          <li><a  href="{% url 'mcq:bundlecollection'  %}">MCQ Bundle</a></li>
                          <li><a  href="{% url 'mcq:asstcollection'  %}">Assessment</a></li>
                      </ul>
                  </li>

                  <li class="sub-menu">
                      <a href="/course/" >
                          <i class="fa fa-bar-chart-o"></i>
                          <span>Statistics</span>
                      </a>
          <ul class="sub">
                        <li><a  href="/general_review_list">View Statistics</a></li>
                    </ul>
                  </li>
             
            


   {% endblock %}






       {% block content %}





        <h3><i class="fa fa-angle-right"></i>This page hasn't implemented.</h3>


            



输入名字进行校验：<input id="pu"type="text"> <span id="p"style="color: red"></span>




        {% endblock %}


{% block js%}

              <script>

 $(document).ready(function() {

$("#pu").bind('keydown',function(){
c=$("#pu").val()

$.ajax({
type:"POST",
url:"{% url 'mcq:ccc'%}",
data:{name:c},
dataType:"json",
 success: function(data) {
$("#p").text(data.msg)
}
});


})

})


</script>
        {% endblock %}


