{% extends "mcq/base.html" %}
{% load static %}
{% block css %}
<link href="{% static "http://cdn.oesmith.co.uk/morris-0.4.3.min.css" %}" rel="stylesheet">
{% endblock %}
{% block sidebar %}
<li class="mt">
   <a id="nav_homepage"  href="/mcq/">
   <i class="fa fa-dashboard"></i>
   <span>Dashboard</span>
   </a>
</li>
<li class="sub-menu">
   <a href="javascript:;" class="active" >
   <i class="fa fa-desktop"></i>
   <span>Management</span>
   </a>
   <ul class="sub">
      <li><a  href="{% url 'mcq:subjectlist'  %}">Label List</a></li>
      <li><a  href="{% url 'mcq:mcqcollection'  %}">MCQ Collection</a></li>
      <li><a  href="{% url 'mcq:bundlecollection'  %}">MCQ Bundle</a></li>
      <li class="active"><a  href="{% url 'mcq:asstcollection'  %}">Assessment</a></li>
   </ul>
</li>
<li class="sub-menu">
   <a href="/course/" >
   <i class="fa fa-bar-chart-o"></i>
   <span>Statistics</span>
   </a>
   <ul class="sub">
      <li><a  href="/general_review_list">View Statistics</a></li>
   </ul>
</li>
<li class="sub-menu">
   <a href="/whiteboard/" >
   <i class="fa fa-book"></i>
   <span>Whiteboard</span>
   </a>
</li>
{% endblock %}
{% block content %}
<div class="col-md-12 mt">
   <div class="content-panel">
      <table class="table table-hover">
         <h3><i class="fa fa-angle-right"></i> Assessment Report for:</h3>
         <h2>
            <center><strong>#{{asst.id}}{{asst.assessment_name}}</strong></center>
         </h2>
    <center> 
      <a href="{% url 'mcq:asstedit' asst.id %}" ><button class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></button></a>

    </center>

         <hr>
         <thead>
            <tr>
               <th>Duration</th>
               <th >Possible Points</th>
               <th> Status</th>
               <th> MCQs</th>
               <th>Subject</th>
            </tr>
         </thead>
         <tbody>
            <tr>
               <td>{{asst.duration}}</td>
               <td>{{asst.points}}</td>
               {% if asst.status == 0%}
               <td>Open</td>
               {% else %}
               <td>Closed</td>
               {%endif%}
               <td>{{asst.mcq_num}}</td>
               <td>{{asst.category}}</td>
            </tr>
         </tbody>
      </table>
   </div>
   <! --/content-panel -->
</div>
<!-- /col-md-12 -->
<div class="col-lg-12 mt">
   <div class="row content-panel">
      <div class="panel-heading">
         <ul class="nav nav-tabs nav-justified">
            <li class="active">
               <a data-toggle="tab" href="#info">Assessment Info</a>
            </li>
            <li>
               <a data-toggle="tab" href="#mcqreport">All MCQs Report</a>
            </li>
            <li>
               <a data-toggle="tab" href="#analysis" >OVERALL ANALYSIS</a>
            </li>
            <li>
               <a data-toggle="tab" href="#ladder">Ranking Ladder</a>
            </li>
             <li>
               <a data-toggle="tab" href="#assigned">Participant List</a>
            </li>
         </ul>
      </div>
      <! --/panel-heading -->
      <div class="panel-body">
         <div class="tab-content">

          <div id="info" class="tab-pane active">
               <div class="row">

 <div id="morris">
               


                      <div class="col-md-6 detailed">
                      

                        <h4>ASSESSMENT PARTICPANTS</h4>
                        <div class="row centered mt mb ">
                          <div class="col-sm-4">
                            <h1><i class="fa fa-male "></i></h1>
                            <h3>{{num_respondents}}</h3>
                            <h6>ASSIGNED ASSESSMENT</h6>
                          </div>
                          <div class="col-sm-4">
                            <h1><i class="fa fa-trophy"></i></h1>
                            <h3>{{num_completed}}</h3>
                            <h6>COMPLETED ASSESSMENT</h6>
                          </div>
                          <div class="col-sm-4">
                            <h1><i class="fa fa-flag"></i></h1>
                            <h3>{{num_incompleted}}</h3>
                            <h6>IN PROGRESS</h6>
                          </div>
                        </div><!-- /row -->


                      </div>

                         <div class="row mt">
                      <div class="col-md-6">
                         
                     
                                  <div id="hero-donut" class="graph"></div>
                           
                          
                      </div>



                  </div>

                  <div class="row mt">





{% for question in questionSet %}
                    <div id="question{{question.id}}" class="col-md-12 mt">
                      <div class="content-panel">
                            <table class="table table-hover">
                            <h3><i class="fa fa-angle-right"></i>

                           <a href="{% url 'mcq:mcqstats' question.id %}"> {{ question.question_text }}</a>
   

                                 

 
            
                <a data-toggle="modal" data-target="#myModal{{question.id}}"><button class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></button></a>             

            <a  data-toggle="modal"  data-target="#edit{{question.id}}"><button class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></button></a>



  </h3>



                    <!-- Modal -->
            <div class="modal fade" id="myModal{{question.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Action Comfirmation</h4>
                  </div>
                  <div class="modal-body">
                    Are you sure you want to delete this question from the current assessment?
                  </div>
                  <div class="modal-footer">
                    

                    <form name="delete" action="" method="POST">
                <input type="hidden" name="questionId" value="{{question.id}}">
                 <input class="btn btn-default" type="submit" name="delete" value="YES">


                      </form>

             

                    <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                  </div>
                </div>
              </div>
            </div>     





  
                    <!-- Modal -->
            <div class="modal fade" id="edit{{question.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Action Comfirmation</h4>
                  </div>
                  <div class="modal-body">
                    <p>Are you sure you want to modify this question for this assessment?</p>
                    <p>You will get a replica of the question, and all statistics will be reset for it.</p>
                    <p>If you have made a replica of the question recently, you will modify on your replica one.</p>
                  </div>
                  <div class="modal-footer">
                    
{% if question.is_replica == False%}

 <a href="{% url 'mcq:mcqreplica' asst_id=asst.id question_id=question.id %}"  class="btn btn-default">
                             Make a replica
                        </a>

             {% else %}
             
 <a href="{% url 'mcq:mcqedit' question.id %}"  class="btn btn-default">
                             Yes
                        </a>
{% endif %}
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                  </div>
                </div>
              </div>
            </div>     







 
                       

                            <hr>

                                <thead>
                                <tr>
                                    <th class="col-sm-1">Option</th>

                                     <th class="col-sm-1">Solution</th>
                                    
                                    <th >Choice text</th>
                                
                                </tr>
                                </thead>
                                <tbody>
                                

                {% for choice in question.choice_set.all %}
 <tr>
                                    <td>{{choice.answer_code}}</td>
                                    {% if choice.is_correct%}
                                    <td><font color=red>✔</font></td>
                                    {% else %}
                                        <td>✘</td>
                                    {% endif %}

                                    <td>{{ choice.choice_text }}</td>
                                     </tr>
                            {% endfor %}
                               
                        
                                </tbody>
                            </table>
                        </div><! --/content-panel -->
                    </div><!-- /col-md-12 -->

{% endfor %}








                  </div>

              </div>
              




                  <!-- /col-md-12 -->
               </div>
               <! --/OVERVIEW -->
            </div>



            <div id="mcqreport" class="tab-pane">
               <div class="row">





{% for stat in stats %}
                  <div class="col-md-12">
                     <div class="content-panel">
                        <table class="table table-hover">
                           <h3><i class="fa fa-angle-right"></i> Question <a href="/mcq/admin/statistics/mcq/{{stat.0.2}}/">#{{stat.0.2}}</a></h3>
                           <hr>
                           <thead>
                              <tr>
                                 <th class="col-sm-1"></th>
                                 <th class="col-sm-1">Response</th>
                                 <th class="col-sm-1">Frequency</th>
                                 <th class="col-sm-1" >Percentage</th>

                                 <th ></th>
                              </tr>
                           </thead>
                           <tbody>

                            {% for item in stat %}

                              <tr>
                                      {% if item.4 == 1 %}
                                    <td><font color=red>✔</font></td>
                                    {% else %}
                                        <td>✘</td>
                                    {% endif %}
                                
                                 <td>{{item.0}}</td>
                                 <td>{{item.1}}</td>
                                 <td>{{item.3}}%</td>
                                 <td>
                                    <div class="progress">
                                       <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: {{item.3}}%">
                                          <span class="sr-only">{{item.3}}% Complete (success)</span>
                                       </div>
                                    </div>
                                 </td>
                              </tr>


                            {% endfor%}

                           </tbody>
                        </table>
                     </div>
                     <! --/content-panel -->
                  </div>
                  <!-- /col-md-12 -->

{% endfor %}
       


                     

               </div>
               <! --/OVERVIEW -->
            </div>










            <div id="analysis" class="tab-pane">
               <div class="row">






                  <div class="col-md-12">
                     <div class="content-panel">
                        <table class="table table-hover">
    
                           <thead>
                              <tr>
                                 <th>Question ID</th>
                                 <th >Total correct response(s)</th>
                                 <th>Total incorrect response(s)</th>
                                 <th>Difficulty index(p)</th>
                                 <th>Classification</th>
                        

                               
                              </tr>
                           </thead>
                           <tbody>

  {% for i in index %}
<tr>


<td>Question {{i.0}}</td>
<td>{{i.1}}</td>
<td>{{i.2}}</td>
<td>0.{{i.3}}</td>                
<td>{{i.4}}</td>  
</tr>
{% endfor %}

                           </tbody>
                        </table>
                     </div>
                     <! --/content-panel -->
                  </div>
                  <!-- /col-md-12 -->


       


                     

               </div>
               <! --/OVERVIEW -->
            </div>



















            <div id="ladder" class="tab-pane">
               <div class="row">
                  <div class="col-lg-8 col-lg-offset-2 detailed">
                     <h4 class="mb">Ranking Ladder</h4>
                    

                    <table class="table table-hover">
      
       
         <thead>


            <tr>
               <th>Name</th>
               <th>Score</th>
               <th> Grade</th>
            
            </tr>
         </thead>
         <tbody>
               {% for user in rankingList%}
            <tr>
               <td>{{user.user.username}}</td>
               <td>{{user.score}}</td>
               <td>{{user.grade}}</td>
            
            </tr>
            {% endfor %}
         </tbody>
      </table>


                  </div>
                  <! --/col-lg-8 -->
               </div>
               <! --/row -->

 


            </div>
            <! --/tab-pane -->




                    <div id="assigned" class="tab-pane">
     
    <div class="row">
                  <div class="col-lg-8 col-lg-offset-2 detailed">
                     <h4 class="mb">Assigned Participant List</h4>
                    

                    <table class="table table-hover">
      
       
         <thead>


            <tr>
               <th>Name</th>
               <th>Status</th>
               
            
            </tr>
         </thead>
         <tbody>
               {% for user in assigned%}
            <tr>
               <td>{{user.user.username}}</td>

                  {% if user.is_done == 1 %}
                                    <td><font color=red>COMPLETED</font></td>
                                    {% else %}
                                        <td>UNCOMPLETED</td>
                                    {% endif %}
                                
           
            
            </tr>
            {% endfor %}
         </tbody>
      </table>


                  </div>
                  <! --/col-lg-8 -->
               </div>
               <! --/row -->


            </div>
            <! --/tab-pane -->
         </div>
         <!-- /tab-content -->
      </div>
      <! --/panel-body -->
   </div>
   <!-- /col-lg-12 -->
</div>
<! --/row -->
{% endblock %}
{% block js %}
<script src="{% static "http://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js" %}"></script>
<script src="{% static "http://cdn.oesmith.co.uk/morris-0.4.3.min.js" %}"></script>
{% endblock %}
{% block script %}
<script>
   var a = new Array('','a','b','c','d','e','f','g','h','i','j','k','l','m','n','o','p','q','r','s','t','u','v','w','x','y','z'); 
   
   i=0;
   var Script = function () {
   
     //morris chart
   
   
   
           
     $(function () {
       // data stolen from http://howmanyleft.co.uk/vehicle/jaguar_'e'_type

   
   
             Morris.Donut({
         element: 'hero-donut',
         data: [
   
   
           {label: 'UNCOMPLETED', value: {{incomplete_ratio}} },
           {label: 'COMPLETED', value: {{complete_ratio}}}
   
   
         ],
           colors: ['#3498db', '#DF0101', '#34495e'],
         formatter: function (y) { return y + "%" }
       });
   
   
     });
   
   }();
   
   
</script>
{% endblock %}
