{% extends "mcq/base.html" %}
   
{% load static %}


{% block css%}


  

    <link rel="stylesheet" type="text/css" href="{% static "assets/js/bootstrap-datetimepicker/css/datetimepicker.css" %}" />

{% endblock%}

 {% block sidebar %}

 
                    
                  <li class="mt">
                      <a id="nav_homepage" href="{% url 'mcq:mcqadmin'  %}">
                          <i class="fa fa-dashboard"></i>
                          <span>Dashboard</span>
                      </a>
                  </li>


                  <li class="sub-menu">
                      <a href="javascript:;" class="active" >
                          <i class="fa fa-desktop"></i>
                          <span>Management</span>
                      </a>
                      <ul class="sub" >

                          <li><a  href="{% url 'mcq:subjectlist'  %}">Label List</a></li>
                          <li><a  href="{% url 'mcq:mcqcollection'  %}">MCQ Collection</a></li>
                          <li ><a  href="{% url 'mcq:bundlecollection'  %}">MCQ Bundle</a></li>
                          <li class="active"><a  href="{% url 'mcq:asstcollection'  %}">Assessment</a></li>
                      </ul>
                  </li>

                  <li class="sub-menu">
                      <a href="/course/" >
                          <i class="fa fa-bar-chart-o"></i>
                          <span>Statistics</span>
                      </a>
          <ul class="sub">
                        <li><a  href="/general_review_list">View Statistics</a></li>
                    </ul>
                  </li>
               
            


   {% endblock %}






  {% block content %}



  <!-- FORM VALIDATION -->
              <div class="row mt">
                  <div class="col-lg-12">
                      <h4><i class="fa fa-angle-right"></i> Create a new assessment</h4>
                      <div class="form-panel">
                          <div class=" form">
                              <form class="cmxform form-horizontal style-form" id="asstform" method="POST" action="{% url 'mcq:asstedit' asst.id%}" >

{% csrf_token %}


    {% if errors %}
                {% for error in errors %}
        <li>

             <p style="color: red;">
                Please correct the error: {{error}} below.
             </p>
            
        </li>
          {% endfor %}
    {% endif %}




                                  <div class="form-group ">
                                      <label for="cname" class="control-label col-lg-2">Assessment Title (required)</label>
                                      <div class="col-lg-10">
                                          <input class=" form-control" id="cname" name="asstTitle" minlength="2" type="text" value="{{asst.assessment_name}}"required />
                                      </div>
                                  </div>



          <div class="form-group ">
               <label for="cname" class="control-label col-lg-2">Select assessment type</label>
                    <div class="col-lg-10" >
                                            <select class="form-control" name="asstType">

                                         {% if asst.assessment_type == 0 %}}
                                         <option value="0" selected>Practical exam</option>
                                         <option value="1"> Formal EXAM</option>
                                         {% else %}
                                       <option value="0">Practical exam</option>
                                      <option value="1" selected> Formal EXAM</option>
                                         {% endif %}
                                     

                                
   
            </select>  
              </div>
             </div>




                       <div class="form-group ">
               <label for="cname" class="control-label col-lg-2">Select label</label>
                    <div class="col-lg-10" >
                                            <select class="form-control" name="asstSubject">

                                              {% if subject_list %}
                                    {% for subject in subject_list %}
                                      <option value="{{subject.pk}}">


{{subject.category_code}}</option>

                                    {% endfor%}
                                    {% endif %}
   
            </select>  
              </div>
             </div>


  <div class="form-group ">
                                      <label for="uni_id" class="control-label col-lg-2">Time duration (mins)</label>
                                      <div class="col-lg-2">
                                          <input type="text" class="form-control bfh-phone" id="uniid" name = "asstDuration" value="{{asst.duration}}" data-format="ddd" required>
                                      </div>
                                  </div>


  <div class="form-group">
                                  <label class="control-label col-md-3">Default input Datetimepicker</label>
                                  <div class="col-md-4">
                                      <input size="16" type="text"  class="form_datetime form-control" name="deadline" value="{{asst.deadline|date:'Y-m-d H:i' }}">
                                  </div>
                              </div>

  

                                  <div class="form-group ">
                                      <label for="cname" class="control-label col-lg-2">Assessment Description (required)</label>
                                      <div class="col-lg-10">

<textarea name="asstDesc" class="form-control" rows="3" required>{{asst.assessment_description}}</textarea>
                                        
                                      </div>
                                  </div>






 <div class="form-group ">
               <label for="cname" class="control-label col-lg-2">Select MCQ<p>(Win:Hold ctrl or MAC:Hold Command to multi-select</p></label>
                    <div class="col-lg-10" >
                                            <select class="form-control" name="asstQuestion" multiple size='10'>

                                            
                                    {% for question in question_list  %}

{% if question in questionSet%}
                                      <option value="{{question.pk}}" selected>

{{question.question_text}}</option>
{%else%}
   <option value="{{question.pk}}" >        
{{question.question_text}}</option>
{% endif%}
                                    {% endfor%}
                                 
   
            </select>  
              </div>
             </div>

 









                             

                          



                                  <div class="form-group">
                                      <div class="col-lg-offset-2 col-lg-10">
                                          <button class="btn btn-theme" type="submit" id="submit">Save</button>
                                          <a href="{% url 'mcq:asststats' asst.id%}" role="button" class="btn btn-theme04">Back</a>
                                      </div>
                                  </div>
                              </form>
                          </div>
                      </div><!-- /form-panel -->
                  </div><!-- /col-lg-12 -->
              </div><!-- /row -->















  {% endblock %}


    {% block js %}


   <script type="text/javascript" src="{% static "assets/js/bootstrap-formhelpers.min.js" %}"></script>
      <script type="text/javascript" src="{% static "assets/js/bootstrap-formhelpers.js" %}"></script>
     
     

      <script type="text/javascript" src="{% static "assets/js/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js" %}"></script>



    <script type="text/javascript" src="{% static "assets/js/advanced-form-components.js"%}"></script>
  
  

    {% endblock %}


   