{% extends "mcq/base.html" %}
   
{% load static %}


{% block css %}


    <link href="{% static "assets/wizard/css/bootstrap-wizard.css" %}" rel="stylesheet">

    <!-- Custom styles for this template -->


{% endblock %}



 {% block sidebar %}

 
                    
                  <li class="mt">
                      <a id="nav_homepage" class="active" href="/">
                          <i class="fa fa-dashboard"></i>
                          <span>Dashboard</span>
                      </a>
                  </li>


                  <li class="sub-menu">
                      <a href="javascript:;" >
                          <i class="fa fa-desktop"></i>
                          <span>Management</span>
                      </a>
                      <ul class="sub">

                          <li><a  href="/general_thread_list">Subject List</a></li>
                          <li><a  href="/general_thread_list">MCQ Collection</a></li>
                          <li><a  href="/general_thread_list">MCQ Bundle</a></li>

                      </ul>
                  </li>

                  <li class="sub-menu">
                      <a href="/course/" >
                          <i class="fa fa-bar-chart-o"></i>
                          <span>Statistics</span>
                      </a>
          <ul class="sub">
                        <li><a  href="/general_review_list">View Statistics</a></li>
                    </ul>
                  </li>
                  <li class="sub-menu">
                      <a href="/whiteboard/" >
                          <i class="fa fa-book"></i>
                          <span>Whiteboard</span>
                      </a>
               
                  </li>
            


   {% endblock %}




             {% block wizard %}



  

 
        {% endblock %}


  {% block content %}



<div class="row mt">
              <div class="col-lg-12">



    
        <div id="panel" class="example">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Panel Title
                    </h3>
                </div>
                <div class="panel-body wizard">
                    <ul class="nav nav-wizard">
                        <li>
                            <a href="#step1">Step 1</a>
                        </li>
                        <li>
                            <a href="#step2">Step 2</a>
                        </li>
                        <li>
                            <a href="">Step 3</a>
                            <ul class="nav nav-wizard">
                                <li>
                                    <a href="#step3a">Step 3A</a>
                                </li>
                                <li>
                                    <a href="#step3b">Step 3B</a>
                                </li>
                                <li>
                                    <a href="#step3c">Step 3C</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#step4">Step 4</a>
                            <ul class="nav nav-wizard">
                                <li>
                                    <a href="#step4a">Step 4A</a>
                                </li>
                                <li>
                                    <a href="#step4b">Step 4B</a>
                                </li>
                                <li>
                                    <a href="#step4c">Step 4C</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#step5">Step 5</a>
                        </li>
                    </ul>

                    <div class="wizard-pane" id="step1">
                        <h3>Step 1</h3>



                <div class="form-panel">
                      <h4 class="mb"><i class="fa fa-angle-right"></i> Choose one of the following MCQ type</h4>

            
            <div class="radio">
              <label>
                <input type="radio" name="optionsRadios" id="optionsRadios0" value="option0" checked>
                MCQ with single answer
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1">
                MCQ with multiple answers
              </label>
            </div>
            
            <div class="radio">
              <label>
                <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                True/False
              </label>
            </div>

                        <div class="radio">
              <label>
                <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3">
                Input Box
              </label>
            </div>
        

                              <div class="compose-btn">
                                    <button class="btn btn-theme btn-sm" type="submit"><i class="fa fa-check"></i> Submit</button>

                                    
                    </div>

                    <div class="wizard-pane" id="step2">
                        <h3>Step 2</h3>
                    </div>

                    <div class="wizard-pane" id="step3a">
                        <h3>Step 3A</h3>
                        <p>Step 3 href is empty, so the first child is selected</p>
                    </div>

                    <div class="wizard-pane" id="step3b">
                        <h3>Step 3B</h3>
                    </div>

                    <div class="wizard-pane" id="step3c">
                        <h3>Step 3C</h3>
                    </div>

                    <div class="wizard-pane" id="step4">
                        <h3>Step 4</h3>
                    </div>

                    <div class="wizard-pane" id="step4a">
                        <h3>Step 4A</h3>
                    </div>

                    <div class="wizard-pane" id="step4b">
                        <h3>Step 4B</h3>
                    </div>

                    <div class="wizard-pane" id="step4c">
                        <h3>Step 4C</h3>
                    </div>

                    <div class="wizard-pane" id="step5">
                        <h3>Step 5</h3>
                    </div>

                </div>
            </div>
        </div>




                                  

                                </div>
                </div><!-- /form-panel -->
              </div><!-- /col-lg-12 -->



  {% endblock %}


    {% block js %}

    <script src="{% static "assets/wizard/js/bootstrap-wizard.min.js" %}"></script>
    <script src="{% static "assets/wizard/js/demo.js" %}"></script>
    <script src="{% static "assets/wizard/js/bootstrap.min.js" %}"></script>





    {% endblock %}


   
          {% block script %}

   
        {% endblock %}
