{% extends "mcq/base.html" %}
   

   {% load static %}


{% block css %}

    <link href="{% static "http://cdn.oesmith.co.uk/morris-0.4.3.min.css" %}" rel="stylesheet">


{% endblock %}

 {% block sidebar %}

 
                    
                  <li class="mt">
                      <a id="nav_homepage" href="{% url 'mcq:mcqadmin'  %}">
                          <i class="fa fa-dashboard"></i>
                          <span>Dashboard</span>
                      </a>
                  </li>


                  <li class="sub-menu">
                      <a href="javascript:;"  class="active" >
                          <i class="fa fa-desktop" ></i>
                          <span>Management</span>
                      </a>
                      <ul class="sub">

                          <li><a  href="{% url 'mcq:subjectlist'  %}">Label List</a></li>
                          <li><a  href="{% url 'mcq:mcqcollection'  %}">MCQ Collection</a></li>
                          <li class="active" ><a  href="{% url 'mcq:bundlecollection'  %}">MCQ Bundle</a></li>
                          <li><a  href="{% url 'mcq:asstcollection'  %}">Assessment</a></li>
                      </ul>
                  </li>

                  <li class="sub-menu">
                      <a href="/course/" >
                          <i class="fa fa-bar-chart-o"></i>
                          <span>Statistics</span>
                      </a>
          <ul class="sub">
                        <li><a  href="/general_review_list">View Statistics</a></li>
                    </ul>
                  </li>
                 
            


   {% endblock %}






       {% block content %}


  <div class="col-md-12 mt">




                      <div class="content-panel">
                            <table class="table table-hover">
                        
   <h3><i class="fa fa-angle-right"></i> Bundle detail page for:</h3>
                             <h2><center><strong>#{{bundle.pk}} {{ bundle.bundle_name }}


             </br>

           <a href="{% url 'mcq:bundleedit' bundle.id %}" ><button class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></button></a>

                <a class="btn  tooltips" data-toggle="modal" data-target="#modal"> <button class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></button></a>


</strong></center>

                        

      </h2>


           <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="modalLabel">Comfirmation</h4>
                  </div>
                  <div class="modal-body">
                    Are you sure you want to delete this bundle?
                  </div>
                  <div class="modal-footer">
                    
                    <form name="delete" action="" method="POST">

                 <input class="btn btn-default" type="submit" name="delete" value="YES">


                      </form>

                    <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                  </div>
                </div>
              </div>
            </div>     

                       

                            <hr>

                                <thead>
                                <tr>
                                    <th >Name </th>

                                     <th>Description</th>
                                    
                                    <th  class="col-sm-1">MCQs</th>
                                    <th  class="col-sm-2">Publish date</th>
                                </tr>
                                </thead>
                                <tbody>
                                

             
 <tr>
                                    <td>{{bundle.bundle_name}} </td>
                               
                                    <td>{{bundle.bundle_desc}}</td>
                           

                                    <td>{{ bundle.total_question_num }}</td>
                                    <td>{{ bundle.pub_date}}</td>
                                     </tr>
                    
                               
                        
                                </tbody>
                            </table>
                        </div><! --/content-panel -->
                    </div><!-- /col-md-12 -->




{% for question in p %}
                    <div id="question{{question.id}}" class="col-md-12 mt">
                      <div class="content-panel">
                            <table class="table table-hover">
                            <h3><i class="fa fa-angle-right"></i>

                           <a href="{% url 'mcq:mcqstats' question.id %}"> {{ question.question_text }}</a>
   

                                 

                <a data-toggle="modal" data-target="#myModal{{question.id}}"> <button class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></button></a>



  </h3>
                    <!-- Modal -->
            <div class="modal fade" id="myModal{{question.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Action Comfirmation</h4>
                  </div>
                  <div class="modal-body">
                    Are you sure you want to delete this question?
                  </div>
                  <div class="modal-footer">
                    
                    <button id="btn-{{question.id}}" value="{{question.id}}"  type="button" class="_button btn btn-default" data-dismiss="modal" >YES</button>

                    <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                  </div>
                </div>
              </div>
            </div>     





 
                       

                            <hr>

                                <thead>
                                <tr>
                                    <th class="col-sm-1">Option</th>

                                     <th class="col-sm-1">Solution</th>
                                    
                                    <th >Choice text</th>
                                
                                </tr>
                                </thead>
                                <tbody>
                                

                {% for choice in question.choice_set.all %}
 <tr>
                                    <td>{{choice.answer_code}}</td>
                                    {% if choice.is_correct%}
                                    <td><font color=red>✔</font></td>
                                    {% else %}
                                        <td>✘</td>
                                    {% endif %}

                                    <td>{{ choice.choice_text }}</td>
                                     </tr>
                            {% endfor %}
                               
                        
                                </tbody>
                            </table>
                        </div><! --/content-panel -->
                    </div><!-- /col-md-12 -->

{% endfor %}
       

        {% endblock %}


{% block js%}



<script>
 $(document).ready(function() {




    $("._button").mouseup(function(e) {
       e.preventDefault();
  
        var id =$(this).val()


        $.ajax({
            type: "POST",
            url: "{% url 'mcq:bundlecdetail' bundle.id%}",
            data: { id:id,bundle:{{bundle.pk}} },
            success: function(response){       
   
              $("#question"+id).fadeOut("slow" ); 
            }
        });
        return false;
    });




});





</script>





{%endblock%}

