{% extends "mcq/base.html" %}
   
{% load static %}


 {% block sidebar %}

 
                    
                  <li class="mt">
                      <a id="nav_homepage"  href="{% url 'mcq:mcqadmin'  %}">
                          <i class="fa fa-dashboard"></i>
                          <span>Dashboard</span>
                      </a>
                  </li>


                  <li class="sub-menu">
                      <a href="javascript:;" class="active" >
                          <i class="fa fa-desktop"></i>
                          <span>Management</span>
                      </a>
                      <ul class="sub">

                          <li><a  href="{% url 'mcq:subjectlist'  %}">Label List</a></li>
                          <li class="active" ><a  href="{% url 'mcq:mcqcollection'  %}">MCQ Collection</a></li>
                          <li><a  href="{% url 'mcq:bundlecollection'  %}">MCQ Bundle</a></li>
                          <li><a  href="{% url 'mcq:asstcollection'  %}">Assessment</a></li>
                      </ul>
                  </li>

                  <li class="sub-menu">
                      <a href="/course/" >
                          <i class="fa fa-bar-chart-o"></i>
                          <span>Statistics</span>
                      </a>
          <ul class="sub">
                        <li><a  href="/general_review_list">View Statistics</a></li>
                    </ul>
                  </li>
               
            


   {% endblock %}





  {% block content %}



<div class="row mt">
              <div class="col-lg-12">
                <div class="form-panel">
                      <h4 class="mb"><i class="fa fa-angle-right"></i> Choose one of the following types to create a new MCQ:</h4>

   
            <form role="form" class="form-horizontal style-form" action="{% url 'mcq:mcqoption'  %}" method="post">
                   {% csrf_token %}
            <div class="radio">
              <label>
                <input type="radio" name="optionsRadios" id="optionsRadios0" value="option0" checked>
                MCQ with single answer
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1">
                MCQ with multiple answers
              </label>
            </div>
            
            <div class="radio">
              <label>
                <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                True/False
              </label>
            </div>

                        <div class="radio">
              <label>
                <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3">
                Input Box
              </label>
            </div>
        


                              <div class="form-group">
                                  <div class="col-lg-offset-2 col-lg-10">
                                      <button class="btn btn-theme" type="submit">Let's Create!</button>
                                  </div>
                              </div>
                          </form>


                </div><!-- /form-panel -->
              </div><!-- /col-lg-12 -->



  {% endblock %}


    {% block js %}

    {% endblock %}


   
          {% block script %}

   
        {% endblock %}
