<html>
<haed>
    <title>Tutorial - Dajngo AJAX</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
</head>
<body>
    <button type="button">Hello Server!</button>
</body>
</html>


<script type="text/javascript">
    $(function() {
        $("button").click(function() {
            $.ajax({
                url: "{% url 'mcq:hello' %}",
                type: "get",
                success: function(data) {
                    alert(data);
                },
                error: function(data) { 
                    alert("Got an error dude");
                }
            });
        })
    })
</script>



<script type="text/javascript">
$(document).ready(function(){

  $("#my_form").submit(function(){
    $.post("",
    {name:"Donald Duck",
     city:"Duckburg",
     csrfmiddlewaretoken:'{{ csrf_token }}'
     },
    function(data,status){
      alert("Data: " + data + "\nStatus: " + status);
    })
    .fail(function(xhr) {
        console.log("Error: " + xhr.statusText);
        alert("Error: " + xhr.statusText);
    });
    return false;
  });

});
</script>


<form id="my_form" action="" method="post">{% csrf_token %}
<input type="submit" value="Send">
</form>


<script type="text/javascript">
    function valid(){
      var loginName=$("#loginName").val();
      if(""==loginName){
        //TODO
        return false;
      }
      var button=$("button[type=submit]");
      $.ajax({
        url: "{% url 'mcq:hello' %}",
        type:"get",
        success:function(o){
          if(o && o.result){
            console.log("可以登录");
            $("#errTip").hide();
            button.removeAttr("disabled");
          }else{
            console.log("不可以登录");
            $("#loginName").focus();
            button.attr("disabled","true");
            $("#errTip").show();
          }
        },
        error:function(o){
          alert(o);
        }
      });
    }
  </script>



  <form action="${contextPath }/admin/doAdminLogin" method="post">
        <div class="control-group">
        <label class="control-label" for="inputLoginName1">登录帐号</label>
        <div class="controls">
          <input class="span3"  type="text" id="loginName" name="loginName" onblur="valid()" placeholder="登录帐号">
          
         <div class="alert alert-error" id="errTip" name="errTip" style="display: none" >
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>登录错误：</strong> 此用户不存在,请重新输入！
      </div>
        </div>
        </div>
        <div class="control-group">
        <label class="control-label" for="inputPassword1">账户密码</label>
        <div class="controls">
          <input type="password" class="span3"  id="inputPassword1" placeholder="用户密码" name="password">
        </div>
        </div>
        <div class="control-group">
        <div class="controls">
          <button type="submit" class="btn">登录</button> 
        </div>
        </div>
      </form>
