{% extends "mcq/base.html" %}
   
{% load static %}





{% load static %}





{% block css %}





    <link href="{% static "assets/css/style.css" %}"  rel="stylesheet">
    <link href="{% static "assets/css/style-responsive.css" %}"  rel="stylesheet">
    <link rel="stylesheet" href="{% static "assets/css/to-do.css" %}" >
<link rel="stylesheet" type="text/css" href="{% static "assets/lineicons/style.css" %}" >    
    


{% endblock %}


 {% block sidebar %}

 
                    
                  <li class="mt">
                      <a id="nav_homepage" class="active" href="{% url 'mcq:mcqadmin'  %}">
                          <i class="fa fa-dashboard"></i>
                          <span>Dashboard</span>
                      </a>
                  </li>


                  <li class="sub-menu">
                      <a href="javascript:;" >
                          <i class="fa fa-desktop"></i>
                          <span>Management</span>
                      </a>
                      <ul class="sub">

                          <li><a  href="{% url 'mcq:subjectlist'  %}">Label List</a></li>
                          <li><a  href="{% url 'mcq:mcqcollection'  %}">MCQ Collection</a></li>
                          <li><a  href="{% url 'mcq:bundlecollection'  %}">MCQ Bundle</a></li>
                          <li><a  href="{% url 'mcq:asstcollection'  %}">Assessment</a></li>
                      </ul>
                  </li>

                  <li class="sub-menu">
                      <a href="/course/" >
                          <i class="fa fa-bar-chart-o"></i>
                          <span>Statistics</span>
                      </a>
          <ul class="sub">
                        <li><a  href="/general_review_list">View Statistics</a></li>
                    </ul>
                  </li>
             
            


   {% endblock %}






       {% block content %}





        <h3><i class="fa fa-angle-right"></i>Homepage</h3>

   
<iframe width="600" height="500" frameBorder="0"
src="http://127.0.0.1:8000/mcq/embed/18/">
</iframe>
                    <div class="row mtbox">
                      <div class="col-md-2 col-sm-2 col-md-offset-3 box0">
                        <div class="box1">
                  <span class="li_heart"></span>
                  <h3><font color=red>{{num_question_created}}</font></h3>
                        </div>
                  <p>You have already created {{num_question_created}} question(s)!</p>
                      </div>
                      <div class="col-md-2 col-sm-2 box0">
                        <div class="box1">
                  <span class="li_news"></span>
                  <h3>{{num_asst_created}}</h3>
                        </div>
                  <p>You have already created {{num_asst_created}} assessment(s).</p>
                      </div>
                      <div class="col-md-2 col-sm-2 box0">
                        <div class="box1">
                  <span class="li_stack"></span>
                  <h3>{{num_register_days}}</h3>
                        </div>
                  <p>You have been registered for {{num_register_days}} days.</p>
                      </div>
                 
                   
                    
                    </div><!-- /row mt -->  
                 
                 <div class="row mt">
                  <div class="col-md-12">
                      <section class="task-panel tasks-widget">
                    <div class="panel-heading">
                          <div class="pull-left"><h5><i class="fa fa-tasks"></i> You have allocated the following assessments:</h5></div>
                          <br>
                    </div>
                          <div class="panel-body">
                              <div class="task-content">

                                  <ul class="task-list">

                                    {% for item in allocated_list %}
                                      <li>
                                  
                                          <div class="task-title">
                                              <span class="task-title-sp"><a href="{% url 'mcq:asststats' item.asst.pk%}">{{item.asst.assessment_name}}</a></span>

                                              <span class="badge bg-theme">{{item.getclassfication}}</span>
                                       
                                         
                                          </div>
                                      </li>

                                      {% endfor %}
                    
                                  </ul>
                              </div>

                                <div class=" add-task-row">
                                  <a class="btn btn-success btn-sm pull-left" href="{% url 'mcq:asstallocation'%}">Allocate an assessment now</a>
                              </div>
                          </div>
                      </section>
                  </div><!-- /col-md-12-->
              </div><!-- /row -->

        {% endblock %}




   {% block js %}






    {% endblock %}

