{% extends "mcq/base.html" %}
   
 {% block sidebar %}

 
                    
                  <li class="mt">
                      <a id="nav_homepage" href="{% url 'mcq:mcqadmin'  %}">
                          <i class="fa fa-dashboard"></i>
                          <span>Dashboard</span>
                      </a>
                  </li>


                  <li class="sub-menu">
                      <a href="javascript:;" class="active" >
                          <i class="fa fa-desktop"></i>
                          <span>Management</span>
                      </a>
                      <ul class="sub">

                          <li class="active" ><a  href="{% url 'mcq:subjectlist'  %}">Label List</a></li>
                          <li><a  href="{% url 'mcq:mcqcollection'  %}">MCQ Collection</a></li>
                          <li><a  href="{% url 'mcq:bundlecollection'  %}">MCQ Bundle</a></li>
                          <li><a  href="{% url 'mcq:asstcollection'  %}">Assessment</a></li>
                      </ul>
                  </li>

                  <li class="sub-menu">
                      <a href="/course/" >
                          <i class="fa fa-bar-chart-o"></i>
                          <span>Statistics</span>
                      </a>
          <ul class="sub">
                        <li><a  href="/general_review_list">View Statistics</a></li>
                    </ul>
                  </li>
              
            


   {% endblock %}





  {% block content %}


<div class="row mt">
              <div class="col-lg-9">
                    <section class="panel">
                 <div class="panel-body">
                      <h4 class="mb" style="color:red;"><i class="fa fa-angle-right" ></i>Add a new subject</h4>
                      <form class="form-horizontal style-form" method="post" action="">
{% csrf_token %}

    {% if errors %}
                {% for error in errors %}
        <li>

             <p style="color: red;">
                Please correct the error: {{error}} below.
             </p>
            
        </li>
          {% endfor %}
    {% endif %}

                          <div class="form-group">
                              <label class="col-sm-2 col-sm-2 control-label">Label Code</label>
                              <div class="col-sm-10">
                                  <input type="text" class="form-control" name="subjectCode" value="{{label.category_code}}">
                              </div>
                          </div>

                          <div class="form-group">
                              <label class="col-sm-2 col-sm-2 control-label">Label Name</label>
                              <div class="col-sm-10">
                                  <input type="text" class="form-control" name="subjectName" value="{{label.category_name}}">
                              </div>
                          </div>

                                <div class="compose-btn">
                                    <button class="btn btn-theme btn-sm" type="submit"><i class="fa fa-check"></i> Submit</button>
                                  

                                </div>
</form>
</div>
</section>
</div>
                      </div>






  {% endblock %}




