{% extends "mcq/base.html" %}
   


 {% block sidebar %}

 
                    
                  <li class="mt">
                      <a id="nav_homepage" href="{% url 'mcq:mcqadmin'  %}">
                          <i class="fa fa-dashboard"></i>
                          <span>Dashboard</span>
                      </a>
                  </li>


                  <li class="sub-menu">
                      <a href="javascript:;" class="active" >
                          <i class="fa fa-desktop"></i>
                          <span>Management</span>
                      </a>
                      <ul class="sub">

                          <li class="active" ><a  href="{% url 'mcq:subjectlist'  %}">Label List</a></li>
                          <li><a  href="{% url 'mcq:mcqcollection'  %}">MCQ Collection</a></li>
                          <li><a  href="{% url 'mcq:bundlecollection'  %}">MCQ Bundle</a></li>
                          <li><a  href="{% url 'mcq:asstcollection'  %}">Assessment</a></li>
                      </ul>
                  </li>

                  <li class="sub-menu">
                      <a href="/course/" >
                          <i class="fa fa-bar-chart-o"></i>
                          <span>Statistics</span>
                      </a>
          <ul class="sub">
                        <li><a  href="/general_review_list">View Statistics</a></li>
                    </ul>
                  </li>
               
            


   {% endblock %}




       {% block content %}





        <h3><i class="fa fa-angle-right"></i>Label Management</h3>

                        <a href="{% url 'mcq:labelcreation'  %} " class="btn btn-compose">
                            <i class="fa fa-pencil"></i>  Create a new Label
                        </a>
              <div class="row mt">
                  <div class="col-md-12">
                      <div class="content-panel">
                          <table class="table table-striped table-advance table-hover">
                            <h4><i class="fa fa-angle-right"></i> Subject List Table</h4>
                            <hr>
                              <thead>
                              <tr>
                                  <th><i class="fa fa-bullhorn"></i>Subject Code</th>
                                  <th class="hidden-phone"><i class="fa fa-question-circle"></i>  Subject Name</th>
                                
                                  <th></th>
                              </tr>
                              </thead>
                              <tbody>

{% if subject_list %}
                                    {% for subject in subject_list %}
                              <tr id="subject{{subject.id}}">
                                  <td>{{ subject.category_code }}</td>
                                  <td class="hidden-phone">{{subject.category_name}}</td>
                                
                                  <td>
                                    
                                      <a href="{% url 'mcq:labeledit' subject.id %}"><button class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></button></a>
                        

              

                                  </td>
                              </tr>

      
                              {% endfor %}
{% endif %}
                              </tbody>
                          </table>
                      </div><!-- /content-panel -->
                  </div><!-- /col-md-12 -->
              </div><!-- /row -->


                  



        {% endblock %}


{% block js%}





{%endblock%}

