{% extends "mcq/base.html" %}
   

   {% load static %}


{% block css %}

    <link href="{% static "http://cdn.oesmith.co.uk/morris-0.4.3.min.css" %}" rel="stylesheet">


{% endblock %}

 {% block sidebar %}

 
                    
                  <li class="mt">
                      <a id="nav_homepage"  href="{% url 'mcq:mcqadmin'  %}">
                          <i class="fa fa-dashboard"></i>
                          <span>Dashboard</span>
                      </a>
                  </li>


                  <li class="sub-menu">
                      <a href="javascript:;" class="active">
                          <i class="fa fa-desktop"></i>
                          <span>Management</span>
                      </a>
                      <ul class="sub">

                          <li><a  href="{% url 'mcq:subjectlist'  %}">Label List</a></li>
                          <li class="active"><a  href="{% url 'mcq:mcqcollection'  %}">MCQ Collection</a></li>
                          <li><a  href="{% url 'mcq:bundlecollection'  %}">MCQ Bundle</a></li>
                          <li><a  href="{% url 'mcq:asstcollection'  %}">Assessment</a></li>
                      </ul>
                  </li>

                  <li class="sub-menu">
                      <a href="/course/" >
                          <i class="fa fa-bar-chart-o"></i>
                          <span>Statistics</span>
                      </a>
          <ul class="sub">
                        <li><a  href="/general_review_list">View Statistics</a></li>
                    </ul>
                  </li>
               
            


   {% endblock %}






       {% block content %}


 
                    <div class="col-md-12 mt">
                      <div class="content-panel">
                            <table class="table table-hover">
                            <h3><i class="fa fa-angle-right"></i> MCQ Report for:</h3>
                             <h2><center><strong>#{{question.pk}} {{question.question_text}}
{% if asstRelatedList %}
  
   <a class="btn tooltips" data-toggle="modal" data-target="#warnModal"> <button class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></button></a>



{% else %}


   <a data-toggle="modal" data-target="#modal"> <button class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></button></a>
{% endif %}





   <a  data-toggle="modal" data-target="#edit"><button class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></button></a>




  

                          </strong></center>
                             </h2>




                           


{% if asstRelatedList %}

     <!-- Modal -->
            <div class="modal fade" id="warnModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="warnModalLabel">INFORMATION</h4>
                  </div>
          
                  <div class="modal-body">
                    You cannot delete this question, because the question has been used in the following assessments:


                    <ul>

   {% for asst in asstRelatedList%}  


                         <li> - <a href="{% url 'mcq:asststats' asst.id %}"> {{asst.assessment_name}}</a> </li>
   
                   {% endfor %}
  </ul>

You need to delete assessment or remove this question from them before delete it.
                 
                                
                  </div>
             
                  <div class="modal-footer">
                    
        

                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>     

{% else %}
                      <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="modalLabel">Comfirmation</h4>
                  </div>
                  <div class="modal-body">
                    Are you sure you want to delete this question?
                  </div>
                  <div class="modal-footer">
                    
                    <form action="" method="POST">

                 <input class="btn btn-default" type="submit" name="delete" value="YES">


                      </form>

                    <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                  </div>
                </div>
              </div>
            </div>     

{% endif %}


               <div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="modalLabel">Comfirmation</h4>
                  </div>
                  <div class="modal-body">
                    <font color=red>If the question has related assessment, your modification will change all of assessments. Are you sure?</font>
                  </div>
                  <div class="modal-footer">
                    
                

                        <a href="{% url 'mcq:mcqedit' question.id %}"  class="btn btn-default">
                             Yes
                        </a>

                    <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                  </div>
                </div>
              </div>
            </div> 



                            <hr>

                                <thead>
                                <tr>
                                    <th class="col-sm-1">Option</th>

                                     <th class="col-sm-1">Solution</th>
                                    
                                    <th >Choice text</th>
                                
                                </tr>
                                </thead>
                                <tbody>
                                

                {% for choice in choice_set %}
 <tr>
                                    <td>{{choice.answer_code}}</td>
                                    {% if choice.is_correct%}
                                    <td><font color=red>✔</font></td>
                                    {% else %}
                                        <td>✘</td>
                                    {% endif %}

                                    <td>{{ choice.choice_text }}</td>
                                     </tr>
                            {% endfor %}
                               
                        
                                </tbody>
                            </table>
                        </div><! --/content-panel -->
                    </div><!-- /col-md-12 -->


   

<div class="col-md-12 mt">
                      <div class="content-panel">
                            

                            <h3> <i class="fa fa-angle-right"></i> Embed Link </h3>



    <input class="form-control input-lg" id="inputlg" type="text" value='<iframe width="600" height="500" frameBorder="0"
src="http://127.0.0.1:8000/mcq/embed/{{question.id}}/">
</iframe>' onclick="this.select()" >

                        </div><! --/content-panel -->
                    </div><!-- /col-md-12 -->




<div class="col-md-12 mt">
                      <div class="content-panel">
                            

                            <h3> <i class="fa fa-angle-right"></i> Related Assessments </h3>

<ul>
   {% for asst in asstRelatedList%}  


                         <li> - <a href="{% url 'mcq:asststats' asst.id %}"> {{asst.assessment_name}}</a> </li>
   
                   {% endfor %}
  </ul>


                        </div><! --/content-panel -->
                    </div><!-- /col-md-12 -->





<div class="col-md-12 mt">
                      <div class="content-panel">
                            <table class="table table-hover">
                            <h3><i class="fa fa-angle-right"></i> MCQ Information</h3>

                            <hr>

                                <thead>
                                <tr>
                                
                                     <th>Question type</th>
                                    
                                    <th >Subject</th>
                                     <th>Correct answer</th>
                                    <th>Publish date</th>
                                   
                                
                                </tr>
                                </thead>
                                <tbody>
                                

              
 <tr>
                                   {% if question.question_type == 0 %}
                                      <td>Single Answer</td>
                                    {% endif %}

                                    {% if question.question_type == 1 %}
                                      <td>Multiple Answers</td>
                                    {% endif %}

                                    {% if question.question_type == 2 %}
                                      <td>True/False</td>
                                    {% endif %}  

                                     {% if question.question_type == 3 %}
                                      <td>Input</td>
                                    {% endif %}
                            

                                    <td>{% for subject in question.category.all %}
{{subject.category_code}}
{% endfor %}</td>

<td>
{% if question.question_type == 2%}
    {% if question.correct_answer = a %}
          False
        {% else %}
        True
        {% endif %}
        {% else %}
  {{ question.correct_answer}}
{% endif %}
</td>
                                     <td>{{ question.pub_date}}</td>
                                     
                                     </tr>
                      
                        
                                </tbody>
                            </table>
                        </div><! --/content-panel -->
                    </div><!-- /col-md-12 -->





     <div class="row mt mb">
        <div class="col-lg-12">
                


                <br>
        <div class="col-lg-4 col-md-4 col-sm-12">
                  <div class="dmbox">
                        <div class="service-icon">
                            <i class="dm-icon fa fa-users fa-3x"></i></a>
                        </div>
                        <h4>Total Respondents</h4>
                        <h3><strong>{{ num_respondents}}</strong></h3>
                  </div>
                </div><!-- end dmbox -->
                
        <div class="col-lg-4 col-md-4 col-sm-12">
                  <div class="dmbox">
                        <div class="service-icon">
                            <i class="dm-icon fa fa-smile-o fa-3x"></i></a>
                        </div>
                      <h4> Total Correct Responses</h4>
                        <h3><strong>{{ correct_num}} </strong></h3>
                  </div>
                </div><!-- end dmbox -->
                
        <div class="col-lg-4 col-md-4 col-sm-12">
                  <div class="dmbox">
                        <div class="service-icon">
                            <i class="dm-icon fa fa-frown-o fa-3x"></i></a>
                        </div>
                                       <h4> Total Incorrect Responses</h4>
                        <h3><strong>{{ incorrect_num}} </strong></h3>
                  </div>
                </div><!-- end dmbox -->
        </div><! -- /col-lg-12 -->
          </div><! --/row -->


       <div id="morris">
                  <div class="row mt">
                      <div class="col-lg-6">
                          <div class="content-panel">
                              <h4><i class="fa fa-angle-right"></i> Correct/Incorrect answer ratio</h4>
                              <div class="panel-body">
                                  <div id="hero-donut" class="graph"></div>
                              </div>
                          </div>
                      </div>


                      <div class="col-lg-6">
                          <div class="content-panel">
                              <h4><i class="fa fa-angle-right"></i>Number of attempts of each option</h4>
                              <div class="panel-body">
                                  <div id="hero-bar" class="graph"></div>
                              </div>
                          </div>
                      </div>



                  </div>

                      

   <div class="row mt">
                      <div class="col-lg-6">
                          <div class="content-panel">
                              <h4><i class="fa fa-angle-right"></i>Public Feedback: Number of attempts of each option</h4>
                              <div class="panel-body">
                                  <div id="public-bar" class="graph"></div>
                              </div>
                          </div>
                      </div>

                <div class="col-lg-6">
                          <div class="content-panel">
                              <h4><i class="fa fa-angle-right"></i>Public Feedback: Correct/Incorrect ratio</h4>
                              <div class="panel-body">
                                  <div id="public-bar2" class="graph"></div>
                              </div>
                          </div>
                      </div>


     </div>
            




              </div>
              

        

  <div class="row content-panel">
        <h2 class="centered">Explanation of Terminology </h2>
        <div class="col-md-10 col-md-offset-1 mt mb">
               <div class="accordion" id="accordion2">
                  <div class="accordion-group">
                    <div class="accordion-heading">
                      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="faq.html#collapseOne">
                        <em class="glyphicon glyphicon-chevron-right icon-fixed-width"></em>Total Respondents
                      </a>
                    </div>
                    <div id="collapseOne" class="accordion-body collapse in">
                      <div class="accordion-inner">
                         <p>Total Respondents means how many participants answered this question.</p>
                      </div>
                    </div>
                  </div>
                  <div class="accordion-group">
                    <div class="accordion-heading">
                      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="faq.html#collapseTwo">
                        <em class="glyphicon glyphicon-chevron-right icon-fixed-width"></em>Correct answer fill rate
                      </a>
                    </div>
                    <div id="collapseTwo" class="accordion-body collapse">
                      <div class="accordion-inner">
                         <p>Definition of correct answer fill rate: Percentage of respondents get correct answers. </p>
                      </div>
                    </div>
                  </div>
                  <div class="accordion-group">
                    <div class="accordion-heading">
                      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="faq.html#collapseThree">
                        <em class="glyphicon glyphicon-chevron-right icon-fixed-width"></em>Incorrect answer fill rate
                      </a>
                    </div>
                    <div id="collapseThree" class="accordion-body collapse">
                      <div class="accordion-inner">
                         <p>Definition of incorrect answer fill rate: Percentage of respondents get incorrect answers. </p>
                      </div>
                    </div>
                    </div>
                  <div class="accordion-group">
                    <div class="accordion-heading">
                      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="faq.html#collapseFour">
                        <em class="glyphicon glyphicon-chevron-right icon-fixed-width"></em>Total Responses
                      </a>
                    </div>
                    <div id="collapseFour" class="accordion-body collapse">
                      <div class="accordion-inner">
                         <p>Definition of total responses: how many total choices were selected.</p>
                      </div>
                    </div>
                    </div> 
                     
                  </div><!-- end accordion -->
        </div><! --col-md-10 -->
        
          </div><! -- /row -->  

        {% endblock %}



   {% block js %}


    <script src="{% static "http://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js" %}"></script>

    <script src="{% static "http://cdn.oesmith.co.uk/morris-0.4.3.min.js" %}"></script>



    {% endblock %}



{% block script %}

<script>

  var a = new Array('a','b','c','d','e','f','g','h','i','j','k','l','m','n','o','p','q','r','s','t','u','v','w','x','y','z'); 

i=0;
var Script = function () {

    //morris chart



          
    $(function () {
      // data stolen from http://howmanyleft.co.uk/vehicle/jaguar_'e'_type
      Morris.Bar({
        element: 'hero-bar',
        data: [


           {% for item in results %}
               

                    { Option: '{{item.0}}', Responses:{{item.1}}},

              
          {% endfor %}
        ],
        xkey: 'Option',
        ykeys: ['Responses'],
        labels: ['Responses'],
        barRatio: 0.5,
        xLabelAngle: 35,
        hideHover: 'auto',
        barColors: ['#ac92ec']
      });




            Morris.Donut({
        element: 'hero-donut',
        data: [


          {label: 'Correct answer fill rate', value: {{ correct_ratio }} },
          {label: 'Incorrect answer fill rate', value: {{incorrect_ratio}} }


        ],
          colors: ['#3498db', '#2980b9', '#34495e'],
        formatter: function (y) { return y + "%" }
      });



            Morris.Bar({
        element: 'public-bar',
        data: [


           {% for item in results %}
               

                    { Option: '{{item.0}}', Responses:{{item.2}}},

              
          {% endfor %}
        ],
        xkey: 'Option',
        ykeys: ['Responses'],
        labels: ['Responses'],
        barRatio: 0.5,
        xLabelAngle: 35,
        hideHover: 'auto',
        barColors: ['#ac92ec']
      });




            Morris.Bar({
        element: 'public-bar2',
        data: [


                    { Option: 'Correct', Responses:{{public_result.num_of_correct_attempts}}},
                { Option: 'Incorrect', Responses:{{public_result.num_of_incorrect_attempts}}},
              
     
        ],
        xkey: 'Option',
        ykeys: ['Responses'],
        labels: ['Responses'],
        barRatio: 0.5,
        xLabelAngle: 35,
        hideHover: 'true',
        barColors: ['#ac92ec']
      });



        


    });

}();


</script>



{% endblock %}


