{% extends "mcq/base.html" %}
   

{% load static %}


{% block css %}

    <link href="{% static "assets/js/advanced-datatable/media/css/demo_page.css" %}" rel="stylesheet" />
    <link href="{% static "assets/js/advanced-datatable/media/css/demo_table.css" %}" rel="stylesheet" />
    <link rel="stylesheet" href="{% static "assets/js/advanced-datatable/media/css/DT_bootstrap.css" %}" />
{% endblock %}

 {% block sidebar %}

 
                    
                  <li class="mt">
                      <a id="nav_homepage" class="active" href="/mcq/">
                          <i class="fa fa-dashboard"></i>
                          <span>Dashboard</span>
                      </a>
                  </li>


                  <li class="sub-menu">
                      <a href="javascript:;" >
                          <i class="fa fa-desktop"></i>
                          <span>Management</span>
                      </a>
                      <ul class="sub">

                          <li><a  href="{% url 'mcq:subjectlist'  %}">Subject List</a></li>
                          <li><a  href="{% url 'mcq:mcqcollection'  %}">MCQ Collection</a></li>
                          <li><a  href="{% url 'mcq:bundlecollection'  %}">MCQ Bundle</a></li>
                          <li><a  href="/">Assessment</a></li>
                      </ul>
                  </li>

                  <li class="sub-menu">
                      <a href="/course/" >
                          <i class="fa fa-bar-chart-o"></i>
                          <span>Statistics</span>
                      </a>
          <ul class="sub">
                        <li><a  href="/general_review_list">View Statistics</a></li>
                    </ul>
                  </li>
                  <li class="sub-menu">
                      <a href="/whiteboard/" >
                          <i class="fa fa-book"></i>
                          <span>Whiteboard</span>
                      </a>
               
                  </li>
            


   {% endblock %}





       {% block content %}






  <h3><i class="fa fa-angle-right"></i> MCQ Bank Collection</h3>


        <div class="row mb ml">


                        <a href="create_mcq/"  class="btn btn-compose">
                            <i class="fa fa-pencil"></i>  Create a new Multiple-Choice Question
                        </a>


           <!-- page start-->
                  <div class="content-panel">
                        <div class="adv-table">
                            <table cellpadding="0" cellspacing="0" border="0" class="display table table-bordered" id="hidden-table-info">
                                <thead>
                                <tr>
                                    <th>MCQ Title</th>
                                    <th>MCQ Type</th>
                                    <th class="hidden-phone">Subject</th>                              
                                    <th class="hidden-phone">Creation Date</th>
                                </tr>
                                </thead>
                                <tbody>

                           {% for question in mcq_list %}

                                <tr >
                                    <td>{{question.question_text}}</td>

                                    {% if question.question_type == 0 %}
                                      <td>Single Answer</td>
                                    {% endif %}

                                    {% if question.question_type == 1 %}
                                      <td>Multiple Answers</td>
                                    {% endif %}

                                    {% if question.question_type == 2 %}
                                      <td>True/False</td>
                                    {% endif %}  

                                     {% if question.question_type == 3 %}
                                      <td>Input</td>
                                    {% endif %}

   <td class="hidden-phone">

{% for subject in question.category.all %}
{{subject.category_code}}
{% endfor %}


         </td>
                                    <td class="center hidden-phone">{{question.pub_date}}</td>
                                </tr>
                                   {% endfor %}

                       
                                </tbody>
                            </table>
                        </div>
                  </div>
              <!-- page end-->

        
              </div><!-- /row -->


        {% endblock %}














    {% block js %}
        <script class="include" type="text/javascript" src="{% static "assets/js/advanced-datatable/media/js/jquery.dataTables.js" %}"></script>
    <script src="{% static "assets/js/advanced-datatable/media/js/DT_bootstrap.js" %}"></script>

    {% endblock %}



       {% block script %}


  
    <script type="text/javascript">
      /* Formating function for row details */
      function fnFormatDetails ( oTable, nTr )
      {
          var aData = oTable.fnGetData( nTr );
          var sOut = '<table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">';
          sOut += '<tr><td>Rendering engine:</td><td>'+aData[1]+' '+aData[4]+'</td></tr>';
          sOut += '<tr><td>Link to source:</td><td>Could provide a link here</td></tr>';
          sOut += '<tr><td>Extra info:</td><td>And any further details here (images etc)</td></tr>';
          sOut += '</table>';

          return sOut;
      }

      $(document).ready(function() {
          /*
           * Insert a 'details' column to the table
           */
          var nCloneTh = document.createElement( 'th' );
          var nCloneTd = document.createElement( 'td' );
          nCloneTd.innerHTML = '<img src="{% static "assets/js/advanced-datatable/examples/examples_support/details_open.png" %}" >';
          nCloneTd.className = "center";

          $('#hidden-table-info thead tr').each( function () {
              this.insertBefore( nCloneTh, this.childNodes[0] );
          } );

          $('#hidden-table-info tbody tr').each( function () {
              this.insertBefore(  nCloneTd.cloneNode( true ), this.childNodes[0] );
          } );

          /*
           * Initialse DataTables, with no sorting on the 'details' column
           */
          var oTable = $('#hidden-table-info').dataTable( {
              "aoColumnDefs": [
                  { "bSortable": false, "aTargets": [ 0 ] }
              ],
              "aaSorting": [[1, 'asc']]
          });

          /* Add event listener for opening and closing details
           * Note that the indicator for showing which row is open is not controlled by DataTables,
           * rather it is done here
           */

          $('#hidden-table-info').on('click', 'tbody td img',function () {

              var nTr = $(this).parents('tr')[0];

                var aData = oTable.fnGetData( nTr );
                aData[5]=1
              if ( oTable.fnIsOpen(nTr) )
              {
                  /* This row is already open - close it */

                  this.src = "{% static "assets/js/advanced-datatable/examples/examples_support/details_open.png" %}"

                  oTable.fnClose( nTr );
              }
              else
              {
                  /* Open this row */
                 this.src = "{% static "assets/js/advanced-datatable/examples/examples_support/details_close.png" %}" ;
                  oTable.fnOpen( nTr, fnFormatDetails(oTable, nTr), 'details' );
              }
          } );
      } );
  </script>


        {% endblock %}
