{% extends "mcq/base.html" %}
   
{% load static %}

 {% block sidebar %}

 
                    
                  <li class="mt">
                      <a id="nav_homepage" href="{% url 'mcq:mcqadmin'  %}">
                          <i class="fa fa-dashboard"></i>
                          <span>Dashboard</span>
                      </a>
                  </li>


                  <li class="sub-menu">
                      <a href="javascript:;" class="active" >
                          <i class="fa fa-desktop"></i>
                          <span>Management</span>
                      </a>
                      <ul class="sub">

                          <li><a  href="{% url 'mcq:subjectlist'  %}">Label List</a></li>
                          <li class="active" ><a  href="{% url 'mcq:mcqcollection'  %}">MCQ Collection</a></li>
                          <li><a  href="{% url 'mcq:bundlecollection'  %}">MCQ Bundle</a></li>
                          <li><a  href="{% url 'mcq:asstcollection'  %}">Assessment</a></li>
                      </ul>
                  </li>

                  <li class="sub-menu">
                      <a href="/course/" >
                          <i class="fa fa-bar-chart-o"></i>
                          <span>Statistics</span>
                      </a>
          <ul class="sub">
                        <li><a  href="/general_review_list">View Statistics</a></li>
                    </ul>
                  </li>
              
            


   {% endblock %}






  {% block content %}



  <!-- FORM VALIDATION -->
              <div class="row mt">
                  <div class="col-lg-12">
                      <h4><i class="fa fa-angle-right"></i> Creat a MCQ</h4>
                      <div class="form-panel">
                          <div class=" form">
                              <form class="cmxform form-horizontal style-form" id="mcqform" method="POST" action="">

{% csrf_token %}


    {% if errors %}
                {% for error in errors %}
        <li>

             <p style="color: red;">
                Please correct the error: {{error}} below.
             </p>
            
        </li>
          {% endfor %}
    {% endif %}





                                  <div class="form-group ">
                                      <label for="cname" class="control-label col-lg-2">Question Type</label>
                                      <div class="col-lg-10">

                                        {% if optionNum %}
  {% if optionNum == '0' %}
                                          <input class=" form-control" name="questiontype" value="Single Answer" type="text" disabled />
{% elif optionNum == '1' %}

   <input class=" form-control"  name="questiontype"  value="Multiple Answers" type="text" disabled />

{% elif optionNum == '2' %}
   <input class=" form-control" name="questiontype"  value="True/False" type="text" disabled />

{% elif optionNum == '3' %}
   <input class=" form-control" name="questiontype" value="Input" type="text" disabled />
{% endif %}

{% endif %}
                                      </div>
                                  </div>




          <div class="form-group ">
               <label for="cname" class="control-label col-lg-2">Label (optional)</label>
                    <div class="col-lg-10">
                                            <select class="form-control" name="subject" >

                                              {% if subject_list %}
                                    {% for subject in subject_list %}
                                      <option>{{subject.category_code}}</option>

                                    {% endfor%}
                                    {% endif %}
   
            </select>  
              </div>
             </div>


                                  <div class="form-group ">
                                      <label for="cname" class="control-label col-lg-2">Question Text (required)</label>
                                      <div class="col-lg-10">
                                          <input class=" form-control" id="cname" name="questiontext" minlength="2" type="text" required />
                                      </div>
                                  </div>

                                  <div class="form-group ">
                                      <label for="ccomment" class="control-label col-lg-2">Solution Explanation (required)</label>
                                      <div class="col-lg-10">
                                          <textarea class="form-control " id="ccomment" name="explanation" required></textarea>
                                      </div>
                                  </div>




                                     <div class="form-group ">
                                      <label for="ccomment" class="control-label col-lg-2">Hints (optional)</label>
                                      <div class="col-lg-10">
                                          <textarea class="form-control " id="ccomment" name="hint"></textarea>
                                      </div>
                                  </div>

{% if optionNum == '0' or optionNum == '1' or optionNum == '2' %}

          <div class="form-group ">
               <div class="col-lg-12">
            <table class="table table-bordered table-hover" id="tab_logic">
                <thead>
                    <tr >
                        <th class="text-center col-lg-1">
                            Option code
                        </th>
                        <th class="text-center col-lg-1">
                            Solution
                        </th>
                        <th class="text-center">
                            Choice text
                        </th>

                    </tr>
                </thead>
                <tbody>
                    <tr id='addr1'>
                        <td>
                        a
                        </td>


                        <td > 
<input type="hidden" name="spam" id="spam"/>
{% if optionNum %}
  {% if optionNum == '0' or optionNum == '2'%}
             <div class="radio" >
              <label>
                <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" required>
              </label>
            </div>

    {% elif optionNum == '1' %}

             <div class="checkbox">
              <label>
                <input type="checkbox" name= "optionsCheckbox1" id="optionsCheckbox1" value="check1" checked>

              </label>
            </div>

{% endif %}

{% endif %}
                    </td>


              

                   

  {% if  optionNum == '2'%}

<td>

                        <input type="text" name='choicetext1' value="False" class="form-control" readonly/>


                         </td>
{% else %}

<td>

                        <input type="text" name='choicetext1' placeholder='Choice Text' class="form-control" required/>

                         </td>

{% endif %}

                       




                    </tr>
                    <tr id='addr2'>

 <td>
                        b
                        </td>


                        <td> 



{% if optionNum %}
  {% if optionNum == '0' or optionNum == '2'%}
             <div class="radio" >
              <label>
                <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2" required>
              </label>
            </div>

    {% elif optionNum == '1' %}

             <div class="checkbox">
              <label>
                <input type="checkbox" name= "optionsCheckbox2" id="optionsCheckbox2" value="check2">

              </label>
            </div>

{% endif %}

{% endif %}


                        </td>




  {% if  optionNum == '2'%}
 
                        <td>
                        <input type="text" name='choicetext2' value="True" class="form-control" readonly/>
                        </td>
    {% else %}
                        <td>
                        <input type="text" name='choicetext2' placeholder='Choice Text' class="form-control" required/>
                        </td>

{% endif %}

                    </tr>

                    <tr id='addr3'></tr>
                </tbody>
            </table>
        

          {% if optionNum == '0' or optionNum == '1'%}
   
    <a id="add_row" class="btn btn-default pull-left">Add Row</a><a id='delete_row' class="pull-left btn btn-default">Delete Row</a>

{% endif %}

    </div>
 </div>

<input type="hidden" id="counter" name="counter" value="2">
{% endif %}

          {% if optionNum == '3'%}

                                  <div class="form-group ">
                                      <label for="cname" class="control-label col-lg-2">Input Answer(required)</label>
                                      <div class="col-lg-10">
                                          <input class=" form-control" name="inputanswer" minlength="2" type="text" required />
                                      </div>
                                  </div>

          {% endif %}

                                  <div class="form-group">
                                      <div class="col-lg-offset-2 col-lg-10">
                                          <button class="btn btn-theme" type="submit" id="submit">Save</button>
                                          <a href="/mcq/admin/mcqcollection/create_mcq/" role="button" class="btn btn-theme04">Back</a>
                                      </div>
                                  </div>
                              </form>
                          </div>
                      </div><!-- /form-panel -->
                  </div><!-- /col-lg-12 -->
              </div><!-- /row -->















  {% endblock %}


    {% block js %}

    {% endblock %}


   
          {% block script %}


{% if optionNum %}
  {% if optionNum == '0' %}
<script>

  var a = new Array('a','b','c','d','e','f','g','h','i','j','k','l','m','n','o','p','q','r','s','t','u','v','w','x','y','z'); 
  var d = 2;
  var i=3;

     $("#add_row").click(function(){
      $('#addr'+i).html("<td>"+ (a[i]) +"</td><td><div class='radio'><label><input type='radio' name='optionsRadios' id='optionsRadios"+i+"' value='option"+i+"'></label></div></td><td><input  name='choicetext"+i+"' type='text' placeholder='Choice Text'   class='form-control' required/></td>");
             $('#counter').attr('value', i)
      $('#tab_logic').append('<tr id="addr'+(i+1)+'"></tr>');
      i++; 


      
  });
     $("#delete_row").click(function(){
         if((i-1)>2){
         $("#addr"+(i-1)).html('');
         i--;
         $('#counter').attr('value', (i-1));
         }
          
          

     });


</script>

    {% elif optionNum == '1' %}

<script>

  var a = new Array('','a','b','c','d','e','f','g','h','i','j','k','l','m','n','o','p','q','r','s','t','u','v','w','x','y','z'); 
  var d = 2;
  var i=3;

     $("#add_row").click(function(){
      $('#addr'+i).html("<td>"+ (a[i]) +"</td><td><div class='checkbox'><label><input type='checkbox' name='optionsCheckbox"+i+"' id='checkbox"+i+"' value='check"+i+"'></label></div></td><td><input  name='choicetext"+i+"' type='text' placeholder='Choice Text'   class='form-control' required/></td>");

           $('#counter').attr('value', i)
      $('#tab_logic').append('<tr id="addr'+(i+1)+'"></tr>');
      i++; 
  

  });



     $("#delete_row").click(function(){
         if((i-1)>2){
         $("#addr"+(i-1)).html('');
         i--;
         $('#counter').attr('value', (i-1));
         }
          

     });


</script>




{% endif %}

{% endif %}



   
        {% endblock %}
