{% extends "mcq/base.html" %}
   
{% load static %}


 {% block sidebar %}

 
                    
                  <li class="mt">
                      <a id="nav_homepage" href="{% url 'mcq:mcqadmin'  %}">
                          <i class="fa fa-dashboard"></i>
                          <span>Dashboard</span>
                      </a>
                  </li>


                  <li class="sub-menu">
                      <a href="javascript:;" class="active" >
                          <i class="fa fa-desktop"></i>
                          <span>Management</span>
                      </a>
                      <ul class="sub">

                          <li><a  href="{% url 'mcq:subjectlist'  %}">Label List</a></li>
                          <li><a  href="{% url 'mcq:mcqcollection'  %}">MCQ Collection</a></li>
                          <li class="active" ><a  href="{% url 'mcq:bundlecollection'  %}">MCQ Bundle</a></li>
                          <li><a  href="{% url 'mcq:asstcollection'  %}">Assessment</a></li>
                      </ul>
                  </li>

                  <li class="sub-menu">
                      <a href="/course/" >
                          <i class="fa fa-bar-chart-o"></i>
                          <span>Statistics</span>
                      </a>
          <ul class="sub">
                        <li><a  href="/general_review_list">View Statistics</a></li>
                    </ul>
                  </li>
                
            


   {% endblock %}






  {% block content %}



  <!-- FORM VALIDATION -->
              <div class="row mt">
                  <div class="col-lg-12">
                      <h4><i class="fa fa-angle-right"></i> Creat a MCQ</h4>
                      <div class="form-panel">
                          <div class=" form">
                              <form class="cmxform form-horizontal style-form" id="mcqform" method="POST" action="">

{% csrf_token %}


    {% if errors %}
                {% for error in errors %}
        <li>

             <p style="color: red;">
                Please correct the error: {{error}} below.
             </p>
            
        </li>
          {% endfor %}
    {% endif %}







          <div class="form-group ">
               <label for="cname" class="control-label col-lg-2">Subject(optional)</label>
                    <div class="col-lg-10">
                                            <select class="form-control" name="subject" >

                                              {% if subject_list %}
                                    {% for subject in subject_list %}
                                      <option>{{subject.category_code}}</option>

                                    {% endfor%}
                                    {% endif %}
   
            </select>  
              </div>
             </div>


                                  <div class="form-group ">
                                      <label for="cname" class="control-label col-lg-2">Question Text (required)</label>
                                      <div class="col-lg-10">
                                          <input class=" form-control" id="cname" name="questiontext" minlength="2" type="text" required />
                                      </div>
                                  </div>

                                  <div class="form-group ">
                                      <label for="ccomment" class="control-label col-lg-2">Solution Explanation (required)</label>
                                      <div class="col-lg-10">
                                          <textarea class="form-control " id="ccomment" name="explanation" required></textarea>
                                      </div>
                                  </div>




                                     <div class="form-group ">
                                      <label for="ccomment" class="control-label col-lg-2">Hints (optional)</label>
                                      <div class="col-lg-10">
                                          <textarea class="form-control " id="ccomment" name="hint"></textarea>
                                      </div>
                                  </div>


                                  <div class="form-group">
                                      <div class="col-lg-offset-2 col-lg-10">
                                          <button class="btn btn-theme" type="submit" id="submit">Save</button>
                                          <a href="/mcq/mcqcollection/create_mcq/" role="button" class="btn btn-theme04">Back</a>
                                      </div>
                                  </div>
                              </form>
                          </div>
                      </div><!-- /form-panel -->
                  </div><!-- /col-lg-12 -->
              </div><!-- /row -->















  {% endblock %}


    {% block js %}

    {% endblock %}


   
          {% block script %}



   
        {% endblock %}
