

{% extends "user_base.html" %}




 {% block sidebar %}

 
                    
                  <li class="mt">
                      <a id="nav_homepage" class="active" href="/mcq/">
                          <i class="fa fa-dashboard"></i>
                          <span>Dashboard</span>
                      </a>
                  </li>

                  <li  class="sub-menu">
                      <a id="nav_homepage" href="/mcq/">
                          <i class="fa fa-dashboard"></i>
                          <span>My Group</span>
                      </a>
                  </li>


                  <li class="sub-menu">
                      <a href="javascript:;" >
                          <i class="fa fa-desktop"></i>
                          <span>My Assessments</span>
                      </a>
                      <ul class="sub">

                          <li><a  href="{% url 'mcq:asstlist'  %}">Assessment List</a></li>
                      </ul>
                  </li>

                  <li class="sub-menu">
                      <a href="/course/" >
                          <i class="fa fa-bar-chart-o"></i>
                          <span>Statistics</span>
                      </a>
          <ul class="sub">
                        <li><a  href="/general_review_list">View Statistics</a></li>
                    </ul>
                  </li>

            




   {% endblock %}



  {% block content %}

    <div class="row mt">
              <div class="col-lg-12">
          <div class="row content-panel">
            <div class="col-md-4 profile-text mt mb centered">
              <div class="right-divider hidden-sm hidden-xs">
                    <h4>{{request_user.email}}</h4>
                <h6>EMAIL</h6>
                <h4>{{user_profile.topic_count}}</h4>
                <h6>POSTS</h6>
                <h4>{{user_profile.post_count}}</h4>
                <h6>COMMENTS</h6>
          
             
              </div>
            </div><! --/col-md-4 -->
            
            <div class="col-md-4 profile-text">
              <h3>{{request_user.username}}</h3>

                            {% if user_profile.is_Academics %}
              <h6>Academics Staff</h6>
              {% else %}
              <h6>General User</h6>
              {% endif %}


              <p>{{ user_profile.descrip}}</p>
              <br>
          
            </div><! --/col-md-4 -->
            
            <div class="col-md-4 centered">
              <div class="profile-pic">
                <p><img src="{{ STATIC_URL }}assets/data/ui-sam.jpg"  class="img-circle"></p>
                
                 <h4>Uni ID: {{user_profile.uni_id}}</h4>
               
              </div>
            </div><! --/col-md-4 -->
          </div><!-- /row -->    
              </div><! --/col-lg-12 -->
        
        <div class="col-lg-12 mt">    
          <div class="row content-panel">
              <div class="panel-heading">
                <ul class="nav nav-tabs nav-justified">
                  <li class="active">
                    <a data-toggle="tab" href="#overview">Overview</a>
                  </li>
             

{% if is_myself %}

                  <li>
                    <a data-toggle="tab" href="#edit">Edit Profile</a>
                  </li>
{% endif%}

                </ul>
              </div><! --/panel-heading -->
              
              <div class="panel-body">
                <div class="tab-content">
                  <div id="overview" class="tab-pane active">
                    <div class="row">
                      <div class="col-md-6">
                 
                        
                        <div class="detailed mt">
                          <h4>Recent Activity</h4>
                          <div class="recent-activity">
                            <div class="activity-icon bg-theme"><i class="fa fa-check"></i></div>
                            <div class="activity-panel">
                              <h5>Thread Module</h5>


                              {% if user_threads %}
                                    {% for thread in user_threads %}


                             <p> Created a new post <i><a href="/general_thread_list/{{thread.id}}/">{{ thread.title }}</a></i> by {{ thread.publish_time}}</p>

                             {% endfor %}

                             {% else %}
                             <p> This user has no any posts!</p>
                             {% endif%}

                            </div>
                            
                            <div class="activity-icon bg-theme02"><i class="fa fa-trophy"></i></div>
                            <div class="activity-panel">
                               {% if user_threads %}
                                    {% for thread in user_threads %}


                             <p> Created a new post <i><a href="/general_thread_list/{{thread.id}}/">{{ thread.title }}</a></i> by {{ thread.publish_time}}</p>

                             {% endfor %}

                             {% else %}
                             <p> This user has no any posts!</p>
                             {% endif%}
                            </div>

                            <div class="activity-icon bg-theme04"><i class="fa fa-rocket"></i></div>
                            <div class="activity-panel">
                            {% if user_threads %}
                                    {% for thread in user_threads %}


                             <p> Created a new post <i><a href="/general_thread_list/{{thread.id}}/">{{ thread.title }}</a></i> by {{ thread.publish_time}}</p>

                             {% endfor %}

                             {% else %}
                             <p> This user has no any posts!</p>
                             {% endif%}
                            </div>
                          </div><! --/recent-activity -->
                        </div><!-- /detailed -->
                      </div><! --/col-md-6 -->
                      
                      <div class="col-md-6 detailed">
                        <h4>User Stats</h4>
                        <div class="row centered mt mb">
                          <div class="col-sm-6">
                            <h1><i class="fa fa-money"></i></h1>
                            <h3>{{user_profile.topic_count}}</h3>
                            <h6>POSTS CREATED</h6>
                          </div>
                          <div class="col-sm-6">
                            <h1><i class="fa fa-trophy"></i></h1>
                            <h3>{{user_profile.post_count}}</h3>
                            <h6>COMMENTS REPLIED</h6>
                          </div>
                  
                        </div><!-- /row -->
                   
                        
               
                      </div><!-- /col-md-6 -->
                    </div><! --/OVERVIEW -->
                  </div><! --/tab-pane -->
                  
                
                  
                  <div id="edit" class="tab-pane">
                    <div class="row">
                      <div class="col-lg-8 col-lg-offset-2 detailed">
                        <h4 class="mb">Personal Information</h4>
                                          <form role="form" class="form-horizontal" action="" method="post">
                                            
                              

                                            
                                              <div class="form-group">
                                                  <label class="col-lg-2 control-label">Description</label>
                                                  <div class="col-lg-10">
                                                      <textarea rows="10" cols="30" class="form-control" id="description" name="description"></textarea>
                                                  </div>
                                              </div>

                                                    <div class="form-group">
                                                  <div class="col-lg-offset-2 col-lg-10">
                                                      <button class="btn btn-theme" type="submit">Save</button>
                                                
                                                  </div>
                                              </div>
                                          </form>
                      </div>
                      
               
                    </div><! --/row -->
                  </div><! --/tab-pane -->
                </div><!-- /tab-content -->
              
              </div><! --/panel-body -->
              
            </div><!-- /col-lg-12 -->
          </div><! --/row -->
            </div><! --/container -->

  {% endblock %}




