{% extends "mcq/base.html" %}
   

   {% load static %}



{% block css %}


 

{% endblock %}

 {% block sidebar %}

 
                    
                  <li class="mt">
                      <a id="nav_homepage" class="active" href="/mcq/">
                          <i class="fa fa-dashboard"></i>
                          <span>Dashboard</span>
                      </a>
                  </li>


                  <li class="sub-menu">
                      <a href="javascript:;" >
                          <i class="fa fa-desktop"></i>
                          <span>Management</span>
                      </a>
                      <ul class="sub">

                          <li><a  href="{% url 'mcq:subjectlist'  %}">Subject List</a></li>
                          <li><a  href="{% url 'mcq:mcqcollection'  %}">MCQ Collection</a></li>
                          <li><a  href="{% url 'mcq:bundlecollection'  %}">MCQ Bundle</a></li>
                          <li><a  href="{% url 'mcq:asstcollection'  %}">Assessment</a></li>
                      </ul>
                  </li>

                  <li class="sub-menu">
                      <a href="/course/" >
                          <i class="fa fa-bar-chart-o"></i>
                          <span>Statistics</span>
                      </a>
          <ul class="sub">
                        <li><a  href="/general_review_list">View Statistics</a></li>
                    </ul>
                  </li>
                  <li class="sub-menu">
                      <a href="/whiteboard/" >
                          <i class="fa fa-book"></i>
                          <span>Whiteboard</span>
                      </a>
               
                  </li>
            


   {% endblock %}






       {% block content %}





  <div class="col-md-12 mt">
                      <div class="content-panel">
                            <table class="table table-hover">
                        
   <h3><i class="fa fa-angle-right"></i> Assessment Page for:</h3>
                             <h2><center><strong>{{ asst.assessment_name }}</strong></center></h2>


                       

                            <hr>

                                <thead>
                                <tr>
                                    <th >Name</th>

                                     <th>Description</th>
                                    
                                    <th  class="col-sm-1">MCQs</th>
                                    <th  class="col-sm-2">Publish date</th>
                                </tr>
                                </thead>
                                <tbody>
                                

             
 <tr>
                                    <td>{{asst.assessment_name}}</td>
                               
                                    <td>{{asst.assessment_description}}</td>
                           

                                    <td>{{ asst.mcq_num }}</td>
                                    <td>{{asst.pub_date}}</td>
                                     </tr>
                    
                               
                        
                                </tbody>
                            </table>
                        </div><! --/content-panel -->
                    </div><!-- /col-md-12 -->




{% for question in p %}
<form action="{% url 'mcq:vote' question.id %}" method="post">

{% csrf_token %}
                    <div class="col-md-12 mt">
                      <div class="content-panel">
                        
                            <h3><i class="fa fa-angle-right"></i>

                           <a href="{% url 'mcq:mcqstats' question.id %}"> {{ question.question_text }}</a></h3>
                       

                            <hr>

                                

{% if question.question_type == 0 or  question.question_type == 2%}
                {% for choice in question.choice_set.all %}

                                    {{choice.answer_code}}.
                                <input type="radio" name="question{{question.id}}" id="{{ choice.answer_code }}" value="{{ choice.answer_code }}" />

  {% if choice.is_correct%}
        <label id="answer{{question.id}}" hidden>

                                    <font color=red>✔</font>

</label>
   {% endif %}


                                     <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br />
                                     
                            {% endfor %}
                               
                        {% endif %}
  

  {% if question.question_type == 1%}
                {% for choice in question.choice_set.all %}

                                    {{choice.answer_code}}.
                                <input type="checkbox" name="question{{question.id}}[]" id="choice{{ forloop.counter }}" value="{{ choice.answer_code }}" />

                   {% if choice.is_correct%}
        <label id="answer{{question.id}}{{choice.id}}" hidden >

                                    <font color=red>✔</font>

</label>
   {% endif %}


                                     <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br />
                                     
                            {% endfor %}
                               
                        {% endif %}





      <button type="button" id="grade{{question.id}}" >Grade </button> 
      <button type="button" id="again{{question.id}}" hidden>Again</button> 


      {% if question.question_type == 0 or  question.question_type == 2%}
      <button type="button" id="solution{{question.id}}" hidden>Solution </button> 
      {% endif %}
 {% if question.question_type == 1%}
      <button type="button" id="solution{{question.id}}"  hidden>Solution </button> 
      {% endif %}
            <p id="msg-success{{question.id}}" class="alert alert-success" hidden></p>
            <p id="msg-wrong{{question.id}}" class="alert alert-danger" hidden></p>

                        </div><! --/content-panel -->
                    </div><!-- /col-md-12 -->


</form>
  
{% endfor %}




        {% endblock %}




    {% block js %}

  <script>


{% for question in p %}



{% if question.question_type == 0 or  question.question_type == 2%}

$("#grade{{question.id}}").click(function() {

    var value = $('input[name=question{{question.id}}]:checked').val()
 

    if(value == "{{question.correct_answer}}"){
      document.getElementById('grade{{question.id}}').hidden=true;
document.getElementById('again{{question.id}}').hidden=false;
document.getElementById('solution{{question.id}}').hidden=false;



   document.getElementById('msg-success{{question.id}}').hidden=false;
   document.getElementById('msg-wrong{{question.id}}').hidden=true;
   document.getElementById('msg-success{{question.id}}').innerHTML = "Great Job!<br> {{question.explanation}}";

    }else{

document.getElementById('grade{{question.id}}').hidden=true;
document.getElementById('again{{question.id}}').hidden=false;
document.getElementById('solution{{question.id}}').hidden=false;


   document.getElementById('msg-success{{question.id}}').hidden=true;
    document.getElementById('msg-wrong{{question.id}}').hidden=false;
    document.getElementById('msg-wrong{{question.id}}').innerHTML = "Tty again! <br> Hints: {{question.hints}}";


    }

});


$("#again{{question.id}}").click(function() {

  document.getElementById('grade{{question.id}}').hidden=false;
document.getElementById('again{{question.id}}').hidden=true;
document.getElementById('solution{{question.id}}').hidden=true;
   document.getElementById('msg-success{{question.id}}').hidden=true;
    document.getElementById('msg-wrong{{question.id}}').hidden=true;


{% for question in p%}
document.getElementById('answer{{question.id}}').hidden=true;

{% endfor %}

});




$("#solution{{question.id}}").click(function() {

  document.getElementById('answer{{question.id}}').hidden=false;


});


{% endif %}



{% if question.question_type == 1%}




$("#grade{{question.id}}").click(function() {

var value = $.map($(':checkbox[name=question{{question.id}}\\[\\]]:checked'), function(n, i){
      return n.value;
}).join('');


    if(value == "{{question.correct_answer}}"){
      document.getElementById('grade{{question.id}}').hidden=true;
document.getElementById('again{{question.id}}').hidden=false;
document.getElementById('solution{{question.id}}').hidden=false;



   document.getElementById('msg-success{{question.id}}').hidden=false;
   document.getElementById('msg-wrong{{question.id}}').hidden=true;
   document.getElementById('msg-success{{question.id}}').innerHTML = "Great Job!<br> {{question.explanation}}";

    }else{

document.getElementById('grade{{question.id}}').hidden=true;
document.getElementById('again{{question.id}}').hidden=false;
document.getElementById('solution{{question.id}}').hidden=false;


   document.getElementById('msg-success{{question.id}}').hidden=true;
    document.getElementById('msg-wrong{{question.id}}').hidden=false;
    document.getElementById('msg-wrong{{question.id}}').innerHTML = "Tty again! <br> Hints: {{question.hints}}";


    }

});




$("#again{{question.id}}").click(function() {

  document.getElementById('grade{{question.id}}').hidden=false;
document.getElementById('again{{question.id}}').hidden=true;
document.getElementById('solution{{question.id}}').hidden=true;
   document.getElementById('msg-success{{question.id}}').hidden=true;
    document.getElementById('msg-wrong{{question.id}}').hidden=true;


{% for question in p %}


{% if question.id == 4%}
 {% for choice in question.choice_set.all %}


{% if choice.is_correct%}

  document.getElementById('answer{{question.id}}{{choice.id}}').hidden=true;
{% endif %}
{% endfor %}

{% endif %}

{% endfor %}


});



$("#solution{{question.id}}").click(function() {

var id;
{% for question in p %}


{% if question.question_type == 1 %}
id = question.id;
console.log(id);
if ({{question.id}} == id){
 {% for choice in question.choice_set.all %}


{% if choice.is_correct%}

  document.getElementById('answer{{question.id}}{{choice.id}}').hidden=false;
{% endif %}
{% endfor %}

}

{% endif %}

{% endfor %}

});







{% endif %}



{% endfor %}






</script>








    {% endblock %}
