{% extends "mcq/user_base.html" %}
   

{% load static %}

{% block css %}

    <link href="{% static "assets/css/style.css" %}"  rel="stylesheet">
    <link href="{% static "assets/css/style-responsive.css" %}"  rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="{% static "assets/js/gritter/css/jquery.gritter.css" %}"  />
    <link rel="stylesheet" type="text/css" href="{% static "assets/lineicons/style.css" %}" >    
    

{% endblock %}


 {% block sidebar %}

 
                    
                  <li class="mt">
                      <a id="nav_homepage" class="active" href="/mcq/">
                          <i class="fa fa-dashboard"></i>
                          <span>Dashboard</span>
                      </a>
                  </li>

                  <li  class="sub-menu">
                      <a id="nav_homepage" href="/mcq/">
                          <i class="fa fa-dashboard"></i>
                          <span>My Group</span>
                      </a>
                  </li>


                  <li class="sub-menu">
                      <a href="javascript:;" >
                          <i class="fa fa-desktop"></i>
                          <span>My Assessments</span>
                      </a>
                      <ul class="sub">

                          <li><a  href="{% url 'mcq:asstlist'  %}">Assessment List</a></li>
                          <li><a  href="{% url 'mcq:asstresult'  %}">Assessment Result</a></li>
                      </ul>
                  </li>

                  <li class="sub-menu">
                      <a href="/course/" >
                          <i class="fa fa-bar-chart-o"></i>
                          <span>Statistics</span>
                      </a>
          <ul class="sub">
                        <li><a  href="/general_review_list">View Statistics</a></li>
                    </ul>
                  </li>

            


   {% endblock %}






       {% block content %}
<div class="row">
   
                  <div class="col-lg-9 main-chart">
                  

                    <div class="row mtbox">
                      <div class="col-md-2 col-sm-2 col-md-offset-2 box0">
                        <div class="box1">
                  <span class="li_heart"></span>
                  <h3><font color=red>{{request.user.userprofile.num_completed_asst}}</font></h3>
                        </div>
                  <p>You have completed {{request.user.userprofile.num_completed_asst}} assessments! NICE JOB!</p>
                      </div>
                      <div class="col-md-2 col-sm-2 box0">
                        <div class="box1">
                  <span class="li_cloud"></span>
                  <h3>+{{request.user.userprofile.num_incomplete_asst}}</h3>
                        </div>
                  <p>You have {{request.user.userprofile.num_incompelete_asst}} pending assessments.</p>
                      </div>
                      <div class="col-md-2 col-sm-2 box0">
                        <div class="box1">
                  <span class="li_stack"></span>
                  <h3>{{num_register_days}}</h3>
                        </div>
                  <p>You have been registered for {{num_register_days}} days.</p>
                      </div>
                      <div class="col-md-2 col-sm-2 box0">
                        <div class="box1">
                  <span class="li_news"></span>
                  <h3><a href="ss">XX</a></h3>
                        </div>
                  <p>XX assessments marks have been handed out.</p>
                      </div>
                   
                    
                    </div><!-- /row mt -->  





     <div class="row mt">

{% for asst in asst_list %}

                        <div class="col-md-4 col-sm-4 mb">
                          <div class="white-panel pn">
                            <div class="white-header">
                   <a href="{% url 'mcq:userasstdetail' asst.asst.pk%}"><h5 >{{asst.getAsstName}}</h5></a> 
                            </div>
                <div class="row">
                  <div class="col-sm-7 col-xs-6 goleft">
                    <p><i class="fa fa-bell"></i> {{asst.dayCounter}}</p>
                  </div>
                  <div class="col-sm-5 col-xs-6">
                   <font color=red>{{asst.getclassfication}}</font>
               
                  </div>
                            </div>
                            <div class="centered">
                    <img src="{% static "assets/img/paper.jpg"%}" width="120">
                            </div>
                          </div>
                        </div><!-- /col-md-4 -->
{% endfor %}



     </div>

</div>

         <div class="col-lg-3 ds">
                    <!--COMPLETED ACTIONS DONUTS CHART-->
            <h3>NOTIFICATIONS</h3>
                                        
                                            {% for event in event_list %}
                      <!-- First Action -->
                      <div class="desc">
                        <div class="thumb">
                          <span class="badge bg-theme"><i class="fa fa-clock-o"></i></span>
                        </div>
                        <div class="details">
                          <p><muted>{{event.duration}}</muted><br/>
                             <a href="#">{{event.from_user.username}}</a> {{event.event}}<br/>
                          </p>
                        </div>
                      </div>
            {% endfor %}

                       <!-- USERS ONLINE SECTION -->
            <h3>ASSESSMENT DEADLINE</h3>

            {% for asst in asst_list %}
                      <!-- First Member -->
                      <div class="desc">
                         <div class="thumb">
                          <span class="badge bg-theme"><i class="fa fa-clock-o"></i></span>
                        </div>
                        <div class="details">
                          <p><a href="{% url 'mcq:userasstdetail' asst.asst.pk%}">{{asst.getAsstName}} </a><br/>
                             <muted>{{asst.dayCounter}}</muted>
                          </p>
                        </div>
                      </div>
                     
{% endfor %}
      
                      
                  </div><!-- /col-lg-3 -->
       
</div>



        {% endblock %}

