{% extends "mcq/user_base.html" %}
   

{% load static %}

{% block css %}

    <link href="{% static "assets/css/style.css" %}"  rel="stylesheet">
    <link href="{% static "assets/css/style-responsive.css" %}"  rel="stylesheet">
    <link rel="stylesheet" href="{% static "assets/css/to-do.css" %}" >


{% endblock %}


 {% block sidebar %}

 
                    
                  <li class="mt">
                      <a id="nav_homepage" href="/mcq/">
                          <i class="fa fa-dashboard"></i>
                          <span>Dashboard</span>
                      </a>
                  </li>

                  <li  class="sub-menu">
                      <a id="nav_homepage" href="/mcq/">
                          <i class="fa fa-dashboard"></i>
                          <span>My Group</span>
                      </a>
                  </li>


                  <li class="sub-menu">
                      <a href="javascript:;" class="active" >
                          <i class="fa fa-desktop"></i>
                          <span>My Assessments</span>
                      </a>
                      <ul class="sub">

                          <li class="active"><a  href="{% url 'mcq:asstlist'  %}">Assessment List</a></li>
                          <li><a  href="{% url 'mcq:asstresult'  %}">Assessment Result</a></li>
                      </ul>
                  </li>

                  <li class="sub-menu">
                      <a href="/course/" >
                          <i class="fa fa-bar-chart-o"></i>
                          <span>Statistics</span>
                      </a>
          <ul class="sub">
                        <li><a  href="/general_review_list">View Statistics</a></li>
                    </ul>
                  </li>

            


   {% endblock %}






       {% block content %}


   <h2>Your assessments</h2>
<hr>


  <div class="alert alert-danger"><b>Warning!</b> Better check yourself, you're not looking too good.
   </div>






  <!-- COMPLEX TO DO LIST -->     
              <div class="row mt">
                  <div class="col-md-12">
                      <section class="task-panel tasks-widget">
                    <div class="panel-heading">
                          <div class="pull-left"><h5><i class="fa fa-tasks"></i> Assessment List </h5></div>
                          <br>
                    </div>
                          <div class="panel-body">
                              <div class="task-content">

                                  <ul class="task-list">

                                    {% for item in asst_list %}
                                      <li>
                                  
                                          <div class="task-title">
                                              <span class="task-title-sp"><a href="{% url 'mcq:userasstdetail' item.asst.pk%}">{{item.asst.assessment_name}}</a></span>

                                              <span class="badge bg-theme">{{item.getclassfication}}</span>
                                       
                                         
                                          </div>
                                      </li>

                                      {% endfor %}
                    
                                  </ul>
                              </div>

                          </div>
                      </section>
                  </div><!-- /col-md-12-->
              </div><!-- /row -->






        {% endblock %}

