{% extends "mcq/user_base.html" %}
   

   {% load static %}



{% block css %}


 

{% endblock %}

 {% block sidebar %}

 
              
                  <li class="mt">
                      <a id="nav_homepage" href="/mcq/">
                          <i class="fa fa-dashboard"></i>
                          <span>Dashboard</span>
                      </a>
                  </li>

                  <li  class="sub-menu">
                      <a id="nav_homepage" href="/mcq/">
                          <i class="fa fa-dashboard"></i>
                          <span>My Group</span>
                      </a>
                  </li>


                  <li class="sub-menu">
                      <a href="javascript:;" class="active" >
                          <i class="fa fa-desktop"></i>
                          <span>My Assessments</span>
                      </a>
                      <ul class="sub">

                          <li class="active"><a  href="{% url 'mcq:asstlist'  %}">Assessment List</a></li>
                          <li><a  href="{% url 'mcq:asstresult'  %}">Assessment Result</a></li>
                      </ul>
                  </li>

                  <li class="sub-menu">
                      <a href="/course/" >
                          <i class="fa fa-bar-chart-o"></i>
                          <span>Statistics</span>
                      </a>
          <ul class="sub">
                        <li><a  href="/general_review_list">View Statistics</a></li>
                    </ul>
                  </li>



   {% endblock %}






       {% block content %}



{% if asst.assessment_type == 0%}


  <div class="col-md-12 mt">
                      <div class="content-panel">
                            <table class="table table-hover">
                        
   <h3><i class="fa fa-angle-right"></i> Assessment Page for:</h3>
                             <h2><center><strong>{{ asst.assessment_name }}</strong></center></h2>


                       

                            <hr>

                                <thead>
                                <tr>
                                    <th >Name</th>

                                     <th>Description</th>
                                    
                                    <th  class="col-sm-1">MCQs</th>
                                    <th  class="col-sm-2">Publish date</th>
                                </tr>
                                </thead>
                                <tbody>
                                

             
 <tr>
                                    <td>{{asst.assessment_name}}</td>
                               
                                    <td>{{asst.assessment_description}}</td>
                           

                                    <td>{{ asst.mcq_num }}</td>
                                    <td>{{asst.pub_date}}</td>
                                     </tr>
                    
                               
                        
                                </tbody>
                            </table>
                        </div><! --/content-panel -->
                    </div><!-- /col-md-12 -->


{% for question in p %}
<form action="{% url 'mcq:vote' question.id %}" method="post">

{% csrf_token %}
                    <div class="col-md-12 mt">
                      <div class="content-panel">
                        
                            <h3><i class="fa fa-angle-right"></i>

                           <a href="{% url 'mcq:mcqstats' question.id %}"> {{ question.question_text }}</a></h3>
                       

                            <hr>

                  <div class="form-panel">                  

<div >
                {% for choice in question.choice_set.all %}

                                    {{choice.answer_code}}.

                                    {% if question.question_type == 1%}
                             <input type="checkbox" name="question{{question.id}}[]" id="choice{{ forloop.counter }}" value="{{ choice.answer_code }}" />
                                {% else %}
                                 <input type="radio" name="question{{question.id}}[]" id="{{ choice.answer_code }}" value="{{ choice.answer_code }}" />
{% endif %}



        <label name="showanswer{{question.id}}" hidden>

                                     {% if choice.is_correct%}
                                    <font color=red>✔</font>
                                    {% else %}
                                        ✘
                                    {% endif %}
</label>



                                     <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br />
                                     
                            {% endfor %}
  </div>                             

 





      <button type="button" id="grade{{question.id}}" class="btn btn-theme02" >Grade </button> 
      <div id="expand{{question.id}}" hidden>
      <button type="button" id="again{{question.id}}" class="btn btn-theme03 " >Again</button> 


      {% if question.question_type == 0 or  question.question_type == 2%}
      <button type="button" id="solution{{question.id}}" class="btn btn-theme04 " >Solution </button> 
      {% endif %}
 {% if question.question_type == 1%}
      <button type="button" id="solution{{question.id}}"  class="btn btn-theme04 " >Solution </button> 
      {% endif %}

    </div>



            <p id="msg-success{{question.id}}" class="alert alert-success" hidden></p>
            <p id="msg-wrong{{question.id}}" class="alert alert-danger" hidden></p>
  </div>
                        </div><! --/content-panel -->
                    </div><!-- /col-md-12 -->


</form>
  
{% endfor %}


{% endif %}




{% if asst.assessment_type == 1%}




  <div class="col-md-12 mt">
                      <div class="content-panel">
                            <table class="table table-hover">
                        
   <h3><i class="fa fa-angle-right"></i> Assessment Page for:</h3>
                             <h2><center><strong>{{ asst.assessment_name }}</strong></center></h2>


                       

                            <hr>

                                <thead>
                                <tr>
                                    <th >Name</th>

                                     <th>Description</th>
                                    
                                    <th  class="col-sm-1">MCQs</th>
                                    <th  class="col-sm-2">Publish date</th>
                                </tr>
                                </thead>
                                <tbody>
                                

             
 <tr>
                                    <td>{{asst.assessment_name}}</td>
                               
                                    <td>{{asst.assessment_description}}</td>
                           

                                    <td>{{ asst.mcq_num }}</td>
                                    <td>{{asst.pub_date}}</td>
                                     </tr>
                    
                               
                        
                                </tbody>
                            </table>
                        </div><! --/content-panel -->
                    </div><!-- /col-md-12 -->

<form  onsubmit="return check_if_all_done(event)" action="" method="post">

    {% if errors %}
                {% for error in errors %}
        <li>

             <p style="color: red;">
                Please correct the error: {{error}} below.
             </p>
            
        </li>
          {% endfor %}
    {% endif %}


{% for question in p %}

{% csrf_token %}
                    <div class="col-md-12 mt">
                      <div class="content-panel">
                        
                            <h4><i class="fa fa-angle-right"></i>

                        Question #{{forloop.counter}}:   <a href="{% url 'mcq:mcqstats' question.id %}"> {{ question.question_text }}</a></h4>
                       

                            <hr>

                  <div class="form-panel">                  

<div >
                {% for choice in question.choice_set.all %}

                                    {{choice.answer_code}}.

                                    {% if question.question_type == 1%}
                             <input type="checkbox" name="question{{question.id}}" id="choice{{ forloop.counter }}" value="{{ choice.answer_code }}" />
                                {% else %}
                                 <input type="radio" name="question{{question.id}}" id="{{ choice.answer_code }}" value="{{ choice.answer_code }}" />
{% endif %}

      <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br />

        


{% if asst.assessment_type == 1%}



{% endif %}




                                     <br>
                                     
                            {% endfor %}
  </div>                             

 




  </div>
                        </div><! --/content-panel -->
                    </div><!-- /col-md-12 -->



  
{% endfor %}


  <div class="col-md-12 mt">


                          
                                    
                                          <button class="btn btn-theme02"  type="submit" id="submit">Submit</button>
                                          <a href="/mcq/admin/mcqcollection/create_mcq/" role="button" class="btn btn-theme04">Back</a>
                                     
                                
                                </div>
</form>





{% endif %}


        {% endblock %}




    {% block js %}


{% if asst.assessment_type == 1%}

<script type="text/javascript">
function check_if_all_done(e) {

  {% for question in p %}

  if ($('input[name=question{{question.id}}]:checked').length === 0) {
      e.preventDefault();

      alert("You haven't completed Question #{{forloop.counter}}.");
      return false;
  }


  {% endfor %}

}
</script>


{% endif %}
{% if asst.assessment_type == 0%}
  <script>


{% for question in p %}



$("#grade{{question.id}}").click(function() {

   $('#grade{{question.id}}').hide();
 document.getElementById('expand{{question.id}}').hidden=false;


{% if question.question_type != 1%}
    var value = $('input[name=question{{question.id}}]:checked').val()
 {% else %}
var value = $.map($(':checkbox[name=question{{question.id}}\\[\\]]:checked'), function(n, i){
      return n.value;
}).join('');

 {% endif %}


    if(value == "{{question.correct_answer}}"){


   document.getElementById('msg-success{{question.id}}').hidden=false;
   document.getElementById('msg-wrong{{question.id}}').hidden=true;
   document.getElementById('msg-success{{question.id}}').innerHTML = "Great Job!<br> {{question.explanation}}";

    }else{


   document.getElementById('msg-success{{question.id}}').hidden=true;
    document.getElementById('msg-wrong{{question.id}}').hidden=false;
    document.getElementById('msg-wrong{{question.id}}').innerHTML = "Tty again! <br> Hints: {{question.hints}}";


    }

});


$("#again{{question.id}}").click(function() {
$('#grade{{question.id}}').show();
 document.getElementById('expand{{question.id}}').hidden=true;

   document.getElementById('msg-success{{question.id}}').hidden=true;
    document.getElementById('msg-wrong{{question.id}}').hidden=true;


{% if question.question_type == 1%}
var value = $.map($(':checkbox[name=question{{question.id}}\\[\\]]:checked'), function(n, i){
  n.checked = false;

      return n.value;
})
{% else %}


var value = $.map($(':radio[name=question{{question.id}}\\[\\]]:checked'), function(n, i){
  n.checked = false;

      return n.value;
})
{% endif %}

var length = document.getElementsByName("showanswer{{question.id}}").length
 for(i=0;i<length;i++){
document.getElementsByName("showanswer{{question.id}}").item(i).hidden = true;

}

});




$("#solution{{question.id}}").click(function() {

var length = document.getElementsByName("showanswer{{question.id}}").length
 for(i=0;i<length;i++){
document.getElementsByName("showanswer{{question.id}}").item(i).hidden = false;

}
});








{% endfor %}






</script>



  <script src="{% static "assets/js/bootstrap-switch.js" %}"></script>
{% endif %}







    {% endblock %}
