{% extends "mcq/user_base.html" %}
   

   {% load static %}



{% block css %}


 

{% endblock %}

 {% block sidebar %}

 
              
                  <li class="mt">
                      <a id="nav_homepage" href="/mcq/">
                          <i class="fa fa-dashboard"></i>
                          <span>Dashboard</span>
                      </a>
                  </li>

                  <li  class="sub-menu">
                      <a id="nav_homepage" href="/mcq/">
                          <i class="fa fa-dashboard"></i>
                          <span>My Group</span>
                      </a>
                  </li>


                  <li class="sub-menu">
                      <a href="javascript:;" class="active" >
                          <i class="fa fa-desktop"></i>
                          <span>My Assessments</span>
                      </a>
                      <ul class="sub">

                          <li ><a  href="{% url 'mcq:asstlist'  %}">Assessment List</a></li>
                          <li class="active"><a  href="{% url 'mcq:asstresult'  %}">Assessment Result</a></li>
                      </ul>
                  </li>

                  <li class="sub-menu">
                      <a href="/course/" >
                          <i class="fa fa-bar-chart-o"></i>
                          <span>Statistics</span>
                      </a>
          <ul class="sub">
                        <li><a  href="/general_review_list">View Statistics</a></li>
                    </ul>
                  </li>



   {% endblock %}






       {% block content %}



{% if asst.assessment_type%}


  <div class="col-md-12 mt">
                      <div class="content-panel">
                            <table class="table table-hover">
                        
   <h3><i class="fa fa-angle-right"></i> Your result for:</h3>
                             <h2><center><strong>{{ asst.assessment_name }}</strong></center></h2>


                       

                            <hr>

                                <thead>
                                <tr>
                                    <th >Name</th>
   <th>Score</th>
                                     <th>Description</th>
                                  
                                    <th  >MCQs</th>
                                    <th >Publish date</th>
                                </tr>
                                </thead>
                                <tbody>
                                

             
 <tr>
                                    <td>{{asst.assessment_name}}</td>
                                <td>{{asst_result.score}}/{{asst.points}}</td>
                                    <td>{{asst.assessment_description}}</td>
                          

                                    <td>{{ asst.mcq_num }}</td>
                                    <td>{{asst.pub_date}}</td>
                                     </tr>
                    
                               
                        
                                </tbody>
                            </table>
                        </div><! --/content-panel -->
                    </div><!-- /col-md-12 -->


{% for attempt in p %}

{% csrf_token %}
                    <div class="col-md-12 mt">
                      <div class="content-panel">
                        
                            <h3><i class="fa fa-angle-right"></i>

                           Question #{{forloop.counter}}:  <a href="{% url 'mcq:mcqstats' attempt.question.id %}"> {{ attempt.question.question_text }}</a>


{% if attempt.is_correct == True %}
  <font color=green>✔</font>
{% else %}
  <font color=red> ✘</font>
{% endif %}

                         </h3>
                       

                            <hr>

                  <div class="form-panel">                  

<div >
  <p><font color=red>SOLUTION:</font></p>
                {% for choice in attempt.question.choice_set.all %}

                                    {{choice.answer_code}}.

                 


        <label name="showanswer{{question.id}}" >

                                     {% if choice.is_correct%}
                                    <font color=red>✔</font>
                                    {% else %}
                                        ✘
                                    {% endif %}
</label>



                                     <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br />
                                     
                            {% endfor %}
  </div>                             

 


{% if attempt.is_correct == True %}
  <p id="msg-success{{question.id}}" class="alert alert-success" > CORRECT! Your answer(s): {{attempt.user_answer}}</p>
{% else %}
  <p id="msg-wrong{{question.id}}" class="alert alert-danger" > WRONG! Your answer(s):{{attempt.user_answer}}</p>
{% endif %}

  <p id="msg-success{{question.id}}" class="alert alert-success" > Explanation: {{attempt.question.explanation}}</p>





  </div>
                        </div><! --/content-panel -->
                    </div><!-- /col-md-12 -->



  
{% endfor %}


{% endif %}






        {% endblock %}




    {% block js %}









    {% endblock %}
